@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?enmq5s');
  src:  url('fonts/icomoon.eot?enmq5s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?enmq5s') format('truetype'),
    url('fonts/icomoon.woff?enmq5s') format('woff'),
    url('fonts/icomoon.svg?enmq5s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-expand-vertically:before {
  content: "\e912";
}
.icon-wifi-rounded:before {
  content: "\e911";
}
.icon-zoom:before {
  content: "\e910";
}
.icon-return-arrow:before {
  content: "\e90f";
}
.icon-analytics:before {
  content: "\e90e";
}
.icon-folder:before {
  content: "\e90d";
}
.icon-data:before {
  content: "\e90c";
}
.icon-collections:before {
  content: "\e909";
}
.icon-eye:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-google:before {
  content: "\e901";
}
.icon-list:before {
  content: "\e800";
}
.icon-stopwatch:before {
  content: "\e60b";
}
.icon-arrows:before {
  content: "\e60c";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-check-circle:before {
  content: "\e607";
}
.icon-github:before {
  content: "\e60a";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-user:before {
  content: "\e609";
}
.icon-filter:before {
  content: "\e606";
}
.icon-flowxo:before {
  content: "\e608";
}
.icon-spinner:before {
  content: "\e605";
}
.icon-accounts:before {
  content: "\e603";
}
.icon-workflows:before {
  content: "\e604";
}
.icon-connector-add:before {
  content: "\e600";
}
.icon-pencil:before {
  content: "\e601";
}
.icon-remove:before {
  content: "\e602";
}
.icon-check:before {
  content: "\f00c";
}
.icon-times:before {
  content: "\f00d";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-warning:before {
  content: "\f071";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-dot-circle-o:before {
  content: "\f192";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-email:before {
  content: "\e904";
}
.icon-embed:before {
  content: "\e905";
}
.icon-private:before {
  content: "\e906";
}
.icon-shared:before {
  content: "\e907";
}
.icon-share:before {
  content: "\e908";
}
.icon-chat:before {
  content: "\e90a";
}
.icon-minus-circle:before {
  content: "\e90b";
}
