/* Icon font config */

@icon-var-user: "\e609";

@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot?480mfi');
  src:url('/fonts/icomoon.eot?#iefix480mfi') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?480mfi') format('truetype'),
    url('/fonts/icomoon.woff?480mfi') format('woff'),
    url('/fonts/icomoon.svg?480mfi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.f-icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  .f-icon;
}

.icon-user:before {
  content: @icon-var-user;
}

/* Main styles */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

@horizontal-height: 80px;
@horizontal-icon-width: 70px;
@logo-height: 18px;
@logo-height-xs: 15px;

.embed {
  background: #f1f4f1;
  border-radius: 3px;
  display: flex;
  height: @horizontal-height;
  position: relative;
  text-decoration: none;

  @media (max-width: 400px) {
    flex-direction: column;
    height: auto;
  }
}

.icons {
  display: flex;
  flex: 0 0 0px;
  height: 100%;

  @media (max-width: 400px) {
    flex: 0 0 60px !important;
    .icon:last-child {
      margin-right: 6px;
    }
  }

  &.icons-1 {
    flex-basis: @horizontal-icon-width;
  }

  &.icons-2 {
    flex-basis: (2 * @horizontal-icon-width);
  }

  &.icons-3 {
    flex-basis: (3 * @horizontal-icon-width);
  }
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border-radius: 2px;
  border: 10px solid transparent;
  flex: 1 1 0px;
  margin: 6px 0 6px 6px;
}

.info {
  flex: 1 1 0px;
  padding: 0 10px;

  @media (max-width: 400px) {
    flex-basis: @horizontal-height;
  }
}

.name {
  color: #2a3646;
  font-size: 24px;
  height: 40px;
  margin: 10px 8px;
  position: relative;
}

#resizable {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.button-and-logo {
  flex: 0 0 auto;
  padding: 10px;
  text-align: right;

  @media (max-width: 400px) {
    display: none;
  }
}

.button-container {
  height: (@horizontal-height - 20px - @logo-height);
}

.button {
  background-color: #67C18E;
  border: 0;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42857143;
  padding: 4px 18px;
  transition: background-color 0.1s, color 0.1s, opacity 0.1s, border 0.1s;
  user-select: none;

  &:active, &:focus, &:hover {
    background-color: #47ae74;
  }
}

.logo {
  border: 0;
  height: @logo-height;
}

.xs-logo {
  bottom: 10px;
  height: @logo-height-xs;
  position: absolute;
  right: 10px;

  @media (min-width: 401px) {
    display: none;
  }
}
