@import "app";
@import "form";

body {
  background-color: #fff;
}

// Pattern Library styles
.pl-header {
  padding-bottom: 10px;
  margin: 80px 0 20px;
  border-bottom: 1px solid @gray-light;
}

.pl-swatch {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid @gray-light;
  border-radius: @border-radius-base;
}

.pl-swatch-preview {
  display: block;
  height: 60px;
  width: 100%;
}

.pl-swatch-preview--primary-green {
  &:extend(.pl-swatch-preview);
  background-color: @primary-green;
}

.pl-swatch-preview--primary-blue {
  &:extend(.pl-swatch-preview);
  background-color: @primary-blue;
}

.pl-swatch-preview--primary-purple {
  &:extend(.pl-swatch-preview);
  background-color: @primary-purple;
}

.pl-swatch-preview--primary-red {
  &:extend(.pl-swatch-preview);
  background-color: @primary-red;
}

.pl-swatch-preview--primary-orange {
  &:extend(.pl-swatch-preview);
  background-color: @primary-orange;
}

.pl-swatch-preview--secondary-green {
  &:extend(.pl-swatch-preview);
  background-color: @secondary-green;
}

.pl-swatch-preview--secondary-blue {
  &:extend(.pl-swatch-preview);
  background-color: @secondary-blue;
}

.pl-swatch-preview--secondary-purple {
  &:extend(.pl-swatch-preview);
  background-color: @secondary-purple;
}

.pl-swatch-preview--secondary-red {
  &:extend(.pl-swatch-preview);
  background-color: @secondary-red;
}

.pl-swatch-preview--secondary-orange {
  &:extend(.pl-swatch-preview);
  background-color: @secondary-orange;
}

.pl-swatch-preview--gray-lightest {
  &:extend(.pl-swatch-preview);
  background-color: @gray-lightest;
}

.pl-swatch-preview--gray-lighter {
  &:extend(.pl-swatch-preview);
  background-color: @gray-lighter;
}

.pl-swatch-preview--gray-light {
  &:extend(.pl-swatch-preview);
  background-color: @gray-light;
}

.pl-swatch-preview--gray {
  &:extend(.pl-swatch-preview);
  background-color: @gray;
}

.pl-swatch-preview--gray-dark {
  &:extend(.pl-swatch-preview);
  background-color: @gray-dark;
}

.pl-swatch-preview--gray-darker {
  &:extend(.pl-swatch-preview);
  background-color: @gray-darker;
}

.pl-swatch-sass-var {
  color: @text-color
}

.pl-logo {
  width: 250px;
  padding: 20px;
}

.pl-logo-white {
  background-color: @brand-primary;
}

.pl-btn-container {
  display: inline-block;
  margin: 5px 0;
}

.pl-card {
  width: 130px;
  display: inline-block;
  text-align: center;
  margin: 5px;
  p {
    margin-top: 3px;
  }
}

.pl-force-static {
  > * { position: static; }
}
