@import "bootstrap/less/bootstrap";

@import "shared/base";

// Variables go afterwards - will override any set by bootstrap
@import "app/variables";
@import "app/mixins";
@import "app/modules";

// Marketing site variables
@site-section-padding: 45px;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  font-size: 18px;
  font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid {
  max-width: 960px;
}

a, a:hover {
  text-decoration: none;
}

a:not(.btn) {
  color: @primary-green;
  border-bottom: 2px solid @gray-light;
  padding-bottom: 1px;
  &:hover,
  &:focus,
  &:active,
  &.active {
    text-decoration: none;
    color: @text-color !important;
    border-bottom-color: @text-color;
  }
}

a.img {
  border-bottom: none !important;
}

abbr {
  text-decoration: none;
  i {
    font-size: 13px;
  }
}

// Fixes anchor start point with fixed navbar
a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

h3, h4 {
  line-height: 1.4;
}

// Navbar
@navbar-height: 60px;
@navbar-margin-bottom: 0;
@navbar-padding-horizontal: 4px;

@font-size-inc: 2px;

@navbar-default-color: @text-color;
@navbar-default-bg: @gray;
@navbar-default-border: none;

@navbar-default-link-color: white;
@navbar-default-link-border: none;
@navbar-default-link-hover-color: @text-color !important;
@navbar-default-link-active-color: @text-color;
@navbar-default-link-active-bg: transparent;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-hover-border: @gray-light;

@navbar-btn-split-padding: @btn-padding-vertical - 1px;
@navbar-btn-split-icon-size: @font-size-base + @navbar-btn-split-padding;

@navbar-default-toggle-border-color: none;
@navbar-default-toggle-hover-bg: transparent;
@navbar-default-toggle-icon-bar-bg: white;
@navbar-default-toggle-icon-bar-hover-bg: @tint-heavy;

.navbar-site {
  border: 0;
  border-radius: 0;

  height: auto;
  transition: all 0.2s ease;

  .navbar-nav {
    margin-top: 0;
    padding-bottom: 10px;
    @media (min-width: @grid-float-breakpoint) {
      padding-bottom: 0;
    }
  }

  .navbar,
  .navbar-btn,
  .navbar .dropdown-menu {
    font-size: 14px;
  }

  .navbar-brand-app {
    height: 40px;
    width: auto;
    margin-top: -9px;
    margin-right: 5px;
  }

  .navbar-brand-logo {
    height: 30px;
    width: auto;
    margin-top: -5px;
  }

  .navbar-brand-logo-colour {
    display: none;
  }

  .navbar-toggle {
    padding: 6px 0;
    border: 0;

    .icon-bar {
      .hr();
      width: 26px;
      .hover-transition;
    }

    &:hover {
      .icon-bar {
        background-color: @navbar-default-toggle-icon-bar-hover-bg;
      }
    }
  }

  .navbar-collapse {
    .box-shadow(none);
    // This fixes a flash of x-scrollbars on
    // the nav during loading.
    overflow: hidden;
    max-height: 100% !important;
  }

  // Change the style of the default button
  // when it is in the navbar
  .navbar-btn.btn-default {
    background-color: white !important;
    color: white;
    margin-right: @navbar-padding-horizontal * 3;
    text-align: left;
    font-weight: 600;

    .btn-icon {
      .hover-transition;
      top: 1px;
      position: relative;
    }

    .btn-label {
      padding-left: 8px;
    }

    &.navbar-btn-open-editor {
      font-size: @font-size-base + @font-size-inc;
      .btn-icon {
        top: 0;
      }
    }

    &:hover {
      background-color: white !important;
    }

    // Button is block level when responsive
    @media (max-width: (@grid-float-breakpoint - 1)) {
      display: block;
      margin-top: 0;
      margin-right: 0;
    }
  }

  .navbar-nav > li > a.navbar-btn {
    padding: 8px 10px;
  }

  .navbar-nav > li > .dropdown-menu {
    background-color: @gray-darker;
    width: 200px;
    margin-top: 15px;
    border-radius: @border-radius-base;
    &:before {
      border-bottom-color: @gray-darker;
    }
    .navbar-logout-divider {
      margin-top: 40px;
    }
    .navbar-menu-label {
      flex: 1;
    }
    .navbar-menu-icon-append {
      font-size: 120%;
      padding-left: 10px;
    }
  }

  &.scroll {
    box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.05);
    background-color: white;
    .navbar-sep {
      background-color: @gray-lighter;
    }
    .navbar-toggle {
      .icon-bar {
        background-color: @gray-dark;
      }
      &:hover .icon-bar {
        background-color: @gray-darker;
      }
    }
    .navbar-nav a:not(.btn) {
      color: @gray;
      &:hover,
      &:focus,
      &:active,
      &.active {
        color: @primary-green !important;
        border-color: @gray-lighter !important;
      }
    }
    .navbar-btn.btn-default {
      background-color: @gray-light !important;
      .btn-icon + .btn-label {
        border-left-color: @tint-heavy !important;
      }
      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: @gray-light !important;
        color: @primary-green !important;
        .btn-icon {
          color: @primary-green !important;
        }
      }
    }
  }

  .navbar-brand {
    border-bottom: none;
    &:hover,
    &:focus,
    &:active,
    &.active {
      border-bottom: none;
    }
  }

  .navbar-nav a:not(.btn) {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding: 20px 0 3px 0;
    margin-left: 20px;
    color: @tint-heavy;
    border-color: transparent;
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: white !important;
      border-color: @tint-mid !important;
    }
  }

  .navbar-btn.btn-default {
    color: @text-color;
    background-color: white !important;
    .btn-icon {
      vertical-align: middle;
      &+ .btn-label {
        border-left-color: @gray-lighter !important;
      }
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: @primary-green !important;
      .btn-icon {
        color: @primary-green !important;
      }
    }
  }
  @media (max-width: (@grid-float-breakpoint - 1)) {
    .navbar-btn.btn-default {
      margin-top: 25px;
    }
  }
  @media (min-width: @screen-sm-min) and (max-width: 855px) {
    .navbar-item-signup {
      display: none;
    }
  }
}

// Header

header:not(.sub-header) {
  background: @navbar-default-bg;
  text-align: center;
  .header-image {
    background-image: url('/images/header.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto 100%;
    min-height: 400px;
    margin-top: -20px;
  }
  h1 {
    font-size: 36px;
    color: white;
    margin-top: 20px;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
    color: @secondary-green;
    text-transform: uppercase;
    a,
    a:hover,
    a:focus,
    a:active,
    a.active {
      color: @secondary-green !important;
      border: none !important;
    }
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    h1 {
      font-size: 32px;
    }
  }
  @media (max-width: @screen-xs-max) {
    .header-image {
      min-height: 250px;
    }
    h1 {
      font-size: 32px;
      padding-left: 40px;
      padding-right: 40px;
    }
    h4 {
      font-size: 14px;
    }
  }
}

// Sub header

header.sub-header {
  background: @navbar-default-bg;
  h1 {
    color: white;
    font-size: 34px;
    line-height: 125%;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
    color: @secondary-green;
    text-transform: uppercase;
  }
  .header-text {
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
  }
  @media (min-width: @screen-sm-min) {
    background-image: url('/images/sub-header-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom 30px right 30px;
    background-size: auto 50%;
    padding-top: 100px;
    .header-text {
      text-align: left;
    }
  }
}

// Info page (privacy, terms, cookies, etc..)

.info {
  padding-top: @site-section-padding;
  padding-bottom: @site-section-padding;
}
.info, .info-col {
  font-size: 14px;
  h1, h2, h3, h4, h5, h6 {
    padding-top: 14px;
  }
}

// Left-hand column header (shared across components)

.section-header {
  &.section-header-sep {
    .sep-top(@colour: @gray-lighter; @spacing: 26px);
  }
  p {
    color: @gray;
    font-size: 16px;
  }
  p.footnote {
    display: inline-block;
    margin-top: 20px;
  }
  @media (max-width: @screen-xs-max) {
    margin-bottom: 20px;
    text-align: center;
  }
}

// Add a background colour or padding to a section

.section-bg {
  background-color: @gray-lighter;
  .section-header-sep {
    .sep-top(@colour: rgba(0, 0, 0, 0.03); @spacing: 26px);
  }
}

.section-padding-top {
  padding-top: @site-section-padding;
}

.section-padding-bottom {
  padding-bottom: @site-section-padding;
}

// Highlights section (icons + headline text)

.highlights {
  .highlight {
    color: @gray-dark;
    text-align: center;
    padding-bottom: @site-section-padding - 10px;
    img {
      margin-bottom: 12px;
    }
  }
}

// Boxed features section

.boxed {
  .boxed-border {
    border: 4px solid @gray-lighter;
    border-radius: @border-radius-small;
    padding: 0 0 @site-section-padding @site-section-padding;
  }
  .boxed-item {
    text-align: left;
    padding: @site-section-padding @site-section-padding 0 0;
    .boxed-image {
      display: inline-block;
      padding: 12px;
      background-color: @gray-lighter;
      border-radius: @border-radius-small;
      margin-bottom: 12px;
    }
    h3, h4 {
      .sep-top-bottom(@colour: @text-color; @size: 2px; @spacing: 10px);
    }
    p {
      color: @gray;
    }
  }
}

// Services grid section

.services {
  .service {
    display: block;
    border: none !important;
    color: @gray;
    margin-bottom: @site-section-padding;
    &.service-template {
      background-color: white;
      padding: 10px;
      border-radius: @border-radius-small;
      .service-name {
        min-height: 25px;
      }
    }
  }
  .service-box {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: white;
    border-radius: @border-radius-small;
    &.service-box-border {
      border: 4px solid @gray-lighter;
    }
    .service-box-inner {
      height: 50%;
      width: 50%;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      img {
        width: 100%;
        height: auto;
      }
      img, .spinner {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  .service-name {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    min-height: 50px;
  }
}

// Cards section (grid arrangement of single panel cards)

.cards {
  .col-sm-9:last-child {
    margin-bottom: -30px;
  }
  .card-container {
    padding: 0 15px 30px 15px;
    @media (min-width: @screen-sm-min) {
      &.card-container-pricing-bots {
        padding-bottom: 30px;
      }
      &.card-container-pricing-interactions {
        padding-bottom: 22px;
      }
    }
  }
  .card {
    border-radius: 3px;
    min-height: 425px;
    padding: 15px;
    p:first-child {
      padding-top: 8px;
    }
    h3:first-child {
      padding-top: 4px;
    }
    h3 + p {
      padding-top: 8px;
    }
    .card-button {
      margin-top: 16px;
      .button-variant(@gray-darker, white, white);
    }
    .card-boxed-image {
      display: inline-block;
      padding: 12px;
      background-color: @gray-lighter;
      border-radius: @border-radius-small;
      margin-top: 16px;
      margin-bottom: 12px;
    }
    .card-subtitle {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &.card-multi-platform {
      background-color: white;
      color: @gray-dark;
      h3 {
        color: @text-color;
        .sep-top-bottom(@colour: @primary-blue; @size: 2px; @spacing: 10px);
      }
      .card-boxed-image {
        background-color: @primary-blue;
      }
      .card-subtitle {
        color: @primary-blue;
      }
    }
    &.card-bot-editor {
      background-color: white;
      color: @gray-dark;
      h3 {
        color: @text-color;
        .sep-top-bottom(@colour: @primary-green; @size: 2px; @spacing: 10px);
      }
      .card-boxed-image {
        background-color: @primary-green;
      }
      .card-subtitle {
        color: @primary-green;
      }
    }
    &.card-integrations {
      background-color: white;
      color: @gray-dark;
      h3 {
        color: @text-color;
        .sep-top-bottom(@colour: @primary-red; @size: 2px; @spacing: 10px);
      }
      .card-subtitle {
        color: @primary-red;
      }
    }
    &.card-hosting-scaling {
      background-color: white;
      color: @gray-dark;
      h3 {
        color: @text-color;
        .sep-top-bottom(@colour: @primary-purple; @size: 2px; @spacing: 10px);
      }
      .card-subtitle {
        color: @primary-purple;
      }
    }
    &.card-notable-1 {
      background-color: @gray-darker;
      color: white;
      h3 {
        .sep-top-bottom(@colour: white; @size: 2px; @spacing: 10px);
      }
      .card-boxed-image {
        background-color: white;
      }
      a {
        color: white;
        border-color: @secondary-green;
        &:hover {
          color: white !important;
          border-color: white;
        }
      }
    }
    &.card-notable-2 {
      background-color: @primary-blue;
      color: white;
      h3 {
        .sep-top-bottom(@colour: white; @size: 2px; @spacing: 10px);
      }
      .card-boxed-image {
        background-color: white;
      }
      a {
        color: white;
        border-color: @primary-red;
        &:hover {
          color: white !important;
          border-color: white;
        }
      }
    }
    &.card-pricing {
      min-height: auto;
      h3 {
        padding-bottom: 8px;
      }
      ul {
        padding: 10px 0 0 0;
        list-style: none;
        li {
          padding-bottom: 6px;
        }
      }
      .card-pricing-signup {
        float: right;
        margin-top: 12px;
      }
    }
    &.card-pricing-subscription {
      background-color: @primary-blue;
      color: white;
      .card-pricing-price {
        font-size: 46px;
        .sep-top-bottom(@colour: @secondary-blue; @size: 2px; @spacing: 10px);
        span {
          font-size: 26px;
        }
      }
      a {
        color: white;
        border-color: white;
        &:hover {
          color: white !important;
          border-color: @secondary-blue;
        }
      }
    }
    &.card-pricing-bots {
      background-color: @primary-green;
      color: white;
      .card-pricing-price {
        font-size: 28px;
        .sep-top(@colour: @secondary-green; @size: 2px; @spacing: 10px);
        span {
          font-size: 20px;
        }
      }
    }
    &.card-pricing-interactions {
      background-color: @gray-lighter;
      .card-pricing-price {
        color: @gray;
        font-size: 28px;
        .sep-top(@colour: @primary-orange; @size: 2px; @spacing: 10px);
        span {
          font-size: 20px;
        }
      }
    }
  }
  .card-pricing-footnote {
    color: @gray;
    @media (max-width: @screen-sm-max) {
      padding-bottom: 30px;
    }
  }
  .card-pricing-free {
    font-size: 18px;
    padding-bottom: 30px;
    color: @gray-darker;
    h3 {
      color: @primary-red;
    }
    .sep-top-bottom(@colour: @gray-darker; @size: 2px; @spacing: 14px);
    a {
      color: @gray-darker;
    }
  }
}

// Tiles section

.tiles {
  .col-sm-9:last-child {
    margin-bottom: -30px;
  }
  .tile-container {
    padding: 0 15px 30px 15px;
  }
  .tile {
    border-radius: 3px;
    padding: 15px;
    p {
      font-size: 14px;
      color: @gray-dark;
    }
    .tile-boxed-image {
      display: inline-block;
      padding: 12px;
      border-radius: @border-radius-small;
      margin-top: 16px;
      margin-bottom: 12px;
    }
    .tile-feature-image {
      margin-top: 16px;
      margin-bottom: 24px;
    }
    .tile-subtitle {
      float: right;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &.tile-right {
      .tile-subtitle {
        float: left;
      }
      .tile-boxed-image {
        float: right;
      }
      h3 {
        display: inline-block;
      }
    }
    &.tile-green {
      background-color: @primary-green;
      color: white;
    }
    &.tile-blue {
      background-color: @primary-blue;
      color: white;
      .tile-subtitle {
        color: @secondary-green;
      }
    }
    &.tile-purple {
      background-color: @primary-purple;
      color: white;
      .tile-subtitle {
        color: @secondary-purple;
      }
      h3 {
        margin-top: 39px;
      }
    }
    &.tile-dark {
      background-color: @gray-darker;
      color: white;
      .tile-subtitle {
        color: @secondary-green;
      }
      p {
        color: @gray-lighter;
      }
      a {
        color: @secondary-green;
        border-bottom-color: @gray;
        &:hover,
        &:focus,
        &:active,
        &.active {
          color: white !important;
          border-bottom-color: @gray-light;
        }
      }
    }
    &.tile-gray-green {
      background-color: @gray-lighter;
      .tile-boxed-image {
        background-color: white;
      }
      .tile-subtitle {
        color: @primary-green;
      }
      h3 {
        margin-top: 45px;
      }
    }
    &.tile-gray-blue {
      background-color: @gray-light;
      .tile-boxed-image {
        background-color: white;
      }
      .tile-subtitle {
        color: @primary-blue;
      }
      h3 {
        margin-top: 45px;
      }
    }
  }
}

// Popup section (large panel that 'pops up' from footer)

.popup {
  .popup-detail {
    color: white;
    background-color: @primary-green;
    text-align: center;
    border-top-left-radius: @border-radius-large;
    border-top-right-radius: @border-radius-large;
    padding: 26px;
    a:not(.btn) {
      color: white !important;
      border-color: white;
      &:hover {
        color: @secondary-green !important;
        border-color: @secondary-green;
      }
    }
  }
  .popup-button {
    margin-top: 16px;
    .button-variant(@gray-darker, white, white);
  }
}

// FAQ section

.faqs {
  padding-bottom: @site-section-padding;
  .faq {
    font-size: 14px;
  }
}

// Footer

footer {
  background-color: @gray-lighter;
  position: absolute;
  width: 100%;
  bottom: 0;
  .footer-nav {
    padding-top: 26px;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    li {
      padding-top: 8px;
    }
    h4 {
      font-weight: bold;
    }
  }
  .footer-info {
    padding-top: @site-section-padding;
    text-align: right;
    color: @gray;
    font-size: 14px;
  }
  .footer-links {
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 14px;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    li {
      display: inline;
      margin-right: 12px;
    }
    p {
      padding-top: 8px;
      color: @gray;
    }
  }
  @media (max-width: @screen-xs-max) {
    text-align: center;
    .footer-info {
      text-align: center;
    }
  }
}


.notedetails {
  width:100%
}

.notedetails span {
  width: 25%;
}

.notetext {
  width: 100%;
}

.notediv {
  border: 1px solid gray;
  padding: 4px;
  margin: 10px;
  max-height: 70vh;
}

.notetable {
  width: 100%;
}

.notetable th {
  width: 30%
}

.notetable tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.15)
}


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}