<div class="login-layout">
  <img class="login-header-logo" src="/images/logo.svg" alt="Flow XO Logo">
  <div class="login-layout-progress">
    <i class="progress-icon progress-mask-icon progress-mask-icon-large"></i>
  </div>
</div>
