.notifier-shadow(@color) {
  box-shadow: 0 0 6px @color;
}

.alert {
  // Improve alignment and spacing of inner content
  // https://github.com/angular-ui/bootstrap/issues/3304
  p,
  ul {
    margin-bottom: 0;
  }

  p + p,
  p + ul,
  ul + p,
  ul + ul {
    margin-top: 8px;
  }

  ul {
    // Reduce left-hand padding for lists
    padding-left: 20px;
  }

  .alert-link {
    color: inherit;
    border-bottom: 2px solid @tint-mid;
    padding-bottom: 1px;
    text-decoration: none;
    &:hover {
      border-bottom-color: @tint-heavy;
    }
  }

  // Override close button colour
  .close {
    &,
    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

.alert-default {
  background-color: @gray-light;
}

.alert-light {
  background-color: white;
}

.alert-inline {
  display: inline-block;
  margin: 0;
}

.alert-sm {
  padding: 11px;
}

.alert-banner {
  display: block;
  text-align: center;
}

.alert-hidden {
  display: none;
}

.alert-flexible {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.alert-icon {
  font-size: 1.15em;
  line-height: 1.2em;
}

.alert-spinner {
  width: 18px;
  height: 18px;
}

.alert-icon-lg {
  font-size: 1.2em;
}

.alert-spinner-lg {
  width: 20px;
  height: 20px;
}

.alert-body {
  flex: 1;
  margin-bottom: 0;
}

.alert-icon + .alert-body {
  margin-left: 0.7em;
}

.alert-body + .alert-btn {
  margin-left: 1em;
}

.alert-action {
  // Has an icon and button accompanying the body text.
  .alert-action-body-wrapper {
    display: flex;
    align-items: flex-start;
    flex: 1 1 100%;
  }

  .alert-btn {
    margin-top: 10px;
    flex: 1 1 100%;
  }

  @media(min-width: 420px) {
    align-items: baseline;
    flex-wrap: nowrap;
    .alert-action-body-wrapper {
      flex: 1;
    }
    .alert-btn {
      margin-left: 10px;
      margin-top: 0;
      flex: 0 auto;
    }
  }
}

// Darken the colour of the buttons
.alert-default .alert-btn {
  .button-variant(
    @btn-primary-color; @btn-primary-bg; @btn-primary-border);
}

.alert-info .alert-btn {
  .button-variant(
    @alert-info-text;
    darken(@alert-info-bg, 10%);
    darken(@alert-info-border, 10%););
}

.alert-success .alert-btn {
  .button-variant(
    @alert-success-text;
    darken(@alert-success-bg, 15%);
    darken(@alert-success-border, 15%););
}

.alert-warning .alert-btn {
  .button-variant(
    @alert-warning-text;
    darken(@alert-warning-bg, 22%);
    darken(@alert-warning-border, 22%););
}

.alert-danger .alert-btn {
  .button-variant(
    @alert-danger-text;
    darken(@alert-danger-bg, 15%);
    darken(@alert-danger-border, 15%););
}

.notifier {
  position: fixed;
  z-index: 2000;
  top: @screen-xs-gutter;
  left: @screen-xs-gutter;
  right: @screen-xs-gutter;
  max-width: 600px;
  margin: 0 auto;

  .alert-success  { .notifier-shadow(@alert-success-bg); }
  .alert-info     { .notifier-shadow(@alert-info-bg);    }
  .alert-warning  { .notifier-shadow(@alert-warning-bg); }
  .alert-danger   { .notifier-shadow(@alert-danger-bg);  }

  @media(min-width: @screen-sm-min) {
    left: @screen-sm-gutter;
    right: @screen-sm-gutter;
  }

  @media(min-width: @screen-md-min) {
    left: @screen-md-gutter;
    right: @screen-md-gutter;
  }
}

.notifier-item-has-icon {
  position: relative;
  padding-left: 25px;
  .alert-icon {
    position: absolute;
    top: 0;
    left: -2px;
  }
}

.alert-offline {
  .notifier;
  .notifier-shadow(@alert-warning-bg);
  top: @navbar-height + 20px;
  max-width: @screen-max-width - 2*@screen-md-gutter;
  z-index: 1000;
  .alert {
    margin-bottom: 0;
  }
}

.banner {
  font-size: @font-size-large;
  margin-bottom: 40px;
  &.banner-alert {
    color: @primary-orange;
  }
  &.banner-msg {
    color: @gray;
  }
  &.banner-info {
    color: @primary-green;
  }

  // Add nav border to top and bottom of menu
  .sep-top-bottom(@colour: @gray-lighter; @spacing: 10px);
}

.verify-email-banner {
  margin: 20px 0 0 0;
}
