@btn-font-weight: 600;

@btn-default-color: @gray-darker;
@btn-default-bg: @gray-light;

@btn-padding-horizontal: @padding-base-horizontal + 1px;
@btn-padding-vertical: @padding-base-vertical + 1px;
@btn-padding-lg-vertical: @padding-large-vertical + 1px;
@btn-padding-lg-horizontal: @padding-large-horizontal + 1px;
@btn-padding-sm-vertical: @padding-small-vertical + 1px;
@btn-padding-sm-horizontal: @padding-small-horizontal + 1px;
@btn-padding-xs-vertical: @padding-xs-vertical + 1px;
@btn-padding-xs-horizontal: @padding-xs-horizontal + 1px;

.btn {
  // No borders required
  border: 0;

  // Add extra to padding to compensate
  padding: @btn-padding-vertical @btn-padding-horizontal;

  // Adjust opacity on disabled buttons
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    opacity: @disabled-opacity;
  }
}

.btn-icon-nudge {
  vertical-align: -1px;
}

// Add some padding between icons and labels
// Make it padding instead of margin so element
// can still be clicked in the space
.btn-label + .caret,
.btn-label + .btn-icon,
.btn-icon + .btn-label {
   padding-left: 10px;
}

// Add a split line to a button of type .btn-split.
// To do this, remove the outer padding on the button
// and add padding to the innards.
.btn-split {
  padding: 0;

  .btn-icon {
    width: 2.25em;
    text-align: center;

    &+ .btn-label {
      margin-left: 0;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      padding: @btn-padding-vertical @btn-padding-horizontal;
      border-left: 1px solid rgba(255, 255, 255, 0.35);
      transition: all @base-transition-duration;
    }
  }
}

// Add separator to split button on button group
.btn-group > .btn + .dropdown-toggle {
  border-left: 1px solid rgba(255, 255, 255, 0.20) !important;
  margin-left: 0; // Reset the margin since the LHS button has no border
}

// Adjust padding for different sized buttons
.btn-lg {
  &,
  &.btn-split .btn-icon,
  &.btn-split .btn-label {
    padding: @btn-padding-lg-vertical @btn-padding-lg-horizontal;
  }
}

.btn-sm {
  &,
  &.btn-split .btn-icon,
  &.btn-split .btn-label {
    padding: @btn-padding-sm-vertical @btn-padding-sm-horizontal;
  }
}

.btn-xs {
  border-radius: @border-radius-base;
  &,
  &.btn-split .btn-icon,
  &.btn-split .btn-label {
    padding: @btn-padding-xs-vertical @btn-padding-xs-horizontal;
  }
}

.btn:active,
.btn.active,
.btn-group.open .dropdown-toggle {
  // Remove box shadow to flatten buttons
  box-shadow: none;
}

// Shift certain icons a little bit to line them up
.btn-icon-chevron {
  margin-top: -1px;
}

.btn + .link-cancel {
  margin-left: 10px;
}
