.card-list {
  .list-unstyled;
  .make-row();
  margin-bottom: 0;
}

.card-list-2up .card-list-item {
  .make-xs-column(12);
  .make-sm-column(6);
}

.card-list-3up .card-list-item {
  .make-xs-column(12);
  .make-sm-column(6);
  .make-md-column(4);
}

.card-list-3up-narrow .card-list-item {
  .make-xs-column(12);
  .make-sm-column(6);
  .make-lg-column(4);
}

.card-list-4up .card-list-item {
  .make-xs-column(12);
  .make-sm-column(6);
  .make-md-column(4);
  .make-lg-column(3);
}

.card-list-2up-cf {
  .clearfix;
  .visible-sm-block;
}

.card-list-3up-cf {
  .clearfix;
  .visible-md-block;
}

.card-list-4up-cf {
  .clearfix;
  .visible-lg-block;
}

.card-list-item {
  margin-bottom: 30px;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.05);

  .card-list-item-inner {
    padding: 15px;
    background-color: @gray-lighter;
    border-radius: @border-radius-large;

    .card-list-item-cols-sep {
      .sep-top(@colour: rgba(0, 0, 0, 0.04); @size: 3px; @spacing: 14px);
    }

    .card-list-item-cols {
      display: flex;
      align-items: center;
      &.top {
        align-items: flex-start;
      }

      .card-list-item-cols-left {
        flex: 1;
        .checkbox {
          margin: 0;
        }
      }
      .card-list-item-cols-right {
        flex: 0 1 auto;
      }
    }

    .card-list-item-middle {
      min-height: 110px;

      .card-list-item-icons {
        padding: 12px 0 10px 0;
      }
    }

    .card-list-item-title {
      margin: 0;
      height: 24px;
      // For overflow fade out
      position: relative;
      overflow: hidden;
      word-break: break-all;
      &:after {
        // Line clamping using a fade out
        // https://css-tricks.com/line-clampin/#article-header-id-1
        content: "";
        background: linear-gradient(to right, rgba(241, 244, 241, 0), @gray-lighter 50%);
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20%;
        height: 25px;
      }
      &> a {
        .link-external;
        border: none;
        &:not(:hover) {
          color: @text-color;
        }
      }

      .card-list-item-title-inactive-icon {
        font-size: 0.75em;
        color: @primary-orange;
      }
    }

    .card-list-item-details {
      font-weight: 500;
      color: @gray;
      margin-bottom: 0;
      line-height: 20px;
      max-height: 40px;
      // For overflow fade out
      position: relative;
      overflow: hidden;
      word-break: break-all;
      &:after {
        // Line clamping using a fade out
        // https://css-tricks.com/line-clampin/#article-header-id-1
        content: "";
        background: linear-gradient(to right, rgba(241, 244, 241, 0), @gray-lighter 50%);
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60%;
        height: 20px;
      }
    }

    .card-list-item-icons {
      display: flex;
      margin-right: -8px;

      &.card-list-item-icons-small {
        height: 24px;

        .card-list-item-icon {
          width: 25px;

          .service-icon-card-inner {
            height: 15px;
            width: 15px;
          }
        }

        .card-list-item-icon-more {
          line-height: 24px;
          font-size: @font-size-base;
        }
      }

      .card-list-item-icon,
      .card-list-item-icon-sep,
      .card-list-item-icon-more {
        margin-right: 8px;
      }

      .card-list-item-icon {
        width: 35px;
      }

      .card-list-item-icon-sep {
        line-height: 35px;
      }

      .card-list-item-icon-more {
        line-height: 35px;
        color: @gray;
        font-size: @font-size-h4;
        font-weight: 500;
      }
    }
  }

  .card-list-item-delete-disabled-tooltip {
    @media(max-width: 380px) {
      max-width: 160px;
    }
  }
}

.card-list-controls {
  .sep-top-bottom(@colour: @gray-lighter; @spacing: 10px);
  margin-bottom: 20px;
  .clearfix;

  .card-list-controls-left {
    float: left;
    @media(max-width: @screen-sm-max) {
      .dropdown-menu-right {
        left: 10px;
        right: auto;
        &:before {
          right: 56px;
        }
      }
    }
  }

  .card-list-controls-right {
    float: right;
    text-align: right;
    padding-bottom: 10px;
    line-height: 33px;
  }

  .card-list-controls-text {
    color: @gray-darker;
    font-weight: 600;
    font-size: @font-size-h4;
    vertical-align: middle;
    margin-right: 6px;
  }

  .card-list-controls-selection {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    .checkbox {
      margin: 0;
    }
    &.card-list-controls-selection-total {
      color: @gray;
      @media(max-width: @screen-xs-max) {
        display: none;
      }
    }
  }
}

.folder-menu {
  border: 2px solid @gray-lighter;
  border-radius: @border-radius-large;
  margin-bottom: 30px;
  @media (min-width: @screen-md-min) {
    margin-bottom: 0;
  }

  .folder-menu-header {
    background-color: @gray-lightest;
    color: @gray;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 600;
    a {
      float: right;
      font-size: @font-size-base;
      i {
        font-size: 10px;
      }
    }
  }
}

.folder-list {
  .list-unstyled;
  margin: 0;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.05);

  .folder-item {
    font-size: 16px;
    .clearfix;

    .folder-item-name {
      .link-external;
      display: block;
      color: @gray;
      padding: 10px 10px;
      border: none;
      &:not(:hover) {
        color: @text-color;
      }
    }

    .folder-item-count {
      float: right;
      display: inline-block;
      padding: 0 6px;
      margin: 10px 10px 0 0;
      color: @primary-blue;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      border-radius: @border-radius-base;
      text-align: center;
    }

    .folder-item-options {
      float: right;
      text-align: right;
      padding: 10px 12px;
      display: none;
      i {
        color: @primary-blue;
      }
    }

    &:hover:not(.home) {
      .folder-item-options {
        display: block;
      }
      .folder-item-count {
        display: none;
      }
    }

    &.active {
      font-weight: 600;

      a {
        color: @text-color;
      }

      .folder-item-count {
        background-color: @primary-purple;
        color: white;
      }
      .folder-item-options i {
        color: @primary-purple !important;
      }
    }
  }
}