// Close button
@close-color: @gray;
@close-text-shadow: 0;
@close-font-weight: 600;

.close {
  .opacity(1);
  .hover-transition;

  &:hover,
  &:focus {
    color: @gray-dark;
    .opacity(1);
  }
}