.daterangepicker {
  background-color: @gray-light !important;
  border-radius: @border-radius-base !important;
  margin-top: 12px !important;
  padding: 6px !important;
  &:before, &:after {
    // Hack to move the pickers own carat out of the way
    // (we use the dropdowns own caret)
    left: 1000px !important;
    border-bottom: 7px solid @gray-light !important;
  }
  &.dropdown-menu:before {
    right: 12px !important;
    left: auto !important;
    top: -7px !important;
  }
  .ranges li {
    background-color: transparent !important;
    border-color: transparent !important;
    color: @text-color !important;
    border-radius: @border-radius-base !important;
    font-size: 14px !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  .ranges li:hover {
    color: white !important;
    background-color: @gray !important;
    border-color: @gray !important;
  }
  .ranges li.active {
    background-color: @primary-green !important;
    border-color: @primary-green !important;
    color: white !important;
  }
  .calendar-table {
    border-radius: @border-radius-base !important;
  }
  .input-mini {
    border-radius: @border-radius-base !important;
    border: 2px solid white !important;
    margin: 2px 0 12px 0 !important;
  }
  .input-mini.active {
    border: 2px solid @primary-green !important;
  }
}

.date-picker {
  text-align: left;
  .icon-chevron-down {
    position: relative;
    top: 3px;
  }
}