.disabled-mask-container {
  position: relative;
}

.disabled-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  opacity: 0.5;
}

.disabled-mask-banner {
  height: 20px;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  font-size: 20px;
  margin-top: -10px;
  text-align: center;
  background-color: @gray;
}
