@dropdown-triangle-size: 9px;
@dropdown-margin-top: @dropdown-triangle-size + 5px;
@dropdown-item-padding: 6px 20px;
@dropdown-form-group-padding: 3px 20px;

@dropdown-bg: @gray-light;
@dropdown-link-color: @gray-darker;
@dropdown-header-color: @dropdown-link-color;
@dropdown-divider-bg: darken(@gray-light, 8%);
@dropdown-link-hover-bg: @gray;
@dropdown-link-hover-color: white;
@dropdown-link-active-bg: @brand-info;
@dropdown-link-active-color: white;

@dropdown-bg-inverse: @gray-darker;
@dropdown-link-color-inverse: white;
@dropdown-header-color-inverse: @dropdown-link-color-inverse;
@dropdown-divider-bg-inverse: @tint-mid;
@dropdown-link-hover-bg-inverse: @tint-mid;
@dropdown-link-hover-color-inverse: white;
@dropdown-link-active-bg-inverse: @gray-darker;
@dropdown-link-active-color-inverse: white;

// Vendor CSS
@import (inline) "ui-select/dist/select.css";

.dropdown-triangle {
  position: absolute;
  display: inline-block;
  top: -@dropdown-triangle-size;
  bottom: auto;
  border-top: 0;
  border-right: @dropdown-triangle-size solid transparent;
  border-bottom: @dropdown-triangle-size solid @dropdown-bg;
  border-left: @dropdown-triangle-size solid transparent;
  content: '';
}

.dropdown-triangle-dropup {
  top: auto;
  bottom: -@dropdown-triangle-size;
  border-top: @dropdown-triangle-size solid @dropdown-bg;
  border-bottom: 0;
}

.dropdown-triangle-left {
  left: 12px;
  right: auto;
}

.dropdown-triangle-right {
  right: 12px;
  left: auto;
}

.dropdown-label {
  vertical-align: bottom;
  &+ .caret {
    // Give the button text some room!
    margin-left: 8px;
  }
}

.dropdown-menu {
  .dropdown-shadow;
  border: none;
  margin-top: @dropdown-margin-top;
  min-width: 120px;

  // Add a triangle
  &:before {
    .dropdown-triangle;
    .dropdown-triangle-left;
  }

  > li > a {
    padding: @dropdown-item-padding;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
  }

  > li.disabled > a {
    color: @gray !important;
  }

  .dropdown-form-group {
    padding: @dropdown-form-group-padding;
    width: 200px;
    .control-label {
      font-size: 12px;
    }
    .form-control {
      padding-left: 6px;
      padding-right: 6px;
    }
    .help-block {
      font-size: 12px;
      margin-top: 10px;
      code {
        background-color: @primary-green;
        color: white;
      }
    }
  }

  .divider {
    height: 1px;
    margin: ((@line-height-computed / 2) - 2) 8px;
  }

  // Make the scrollbar look nicer
  &::-webkit-scrollbar {
    width:  9px;
    height: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background: @gray;
  }

  &::-webkit-scrollbar-track {
    background: @gray-lighter;
  }

  // For Internet Explorer
  scrollbar-face-color: @gray;
  scrollbar-track-color: @gray-lighter;
}

.dropdown-header {
  font-weight: 600;
  padding-left: 15px;
}

.dropdown-menu-inverse,
.select-block-inverse .dropdown-menu {
  // Set background and triangle colour
  background-color: @dropdown-bg-inverse;
  &:before {
    border-bottom-color: @dropdown-bg-inverse;
  }

  // Set hover colour
  > li > a {
    color: @dropdown-link-color-inverse;
    &:hover,
    &:focus {
      color: @dropdown-link-hover-color-inverse;
      background-color: @dropdown-link-hover-bg-inverse;
    }
  }

  // Active state
  > .active > a {
    &,
    &:hover,
    &:focus {
      color: @dropdown-link-active-color-inverse;
      background-color: @dropdown-link-active-bg-inverse;
    }
  }

  .dropdown-header {
    color: @dropdown-header-color-inverse;
  }

  .divider {
    background-color: @dropdown-divider-bg-inverse;
  }
}

.dropdown-menu-no-hover {
  > li > a:hover {
    color: inherit;
    background-color: inherit;
  }
}

.caret {
  &:extend(.f-icon);
  &:before {
    content: @icon-var-chevron-down;
  }

  // Override default bootstrap styles
  border: 0;
  width: auto;
  height: auto;
  margin-top: -2px;
}

.dropdown-menu-right:before {
  // Move the caret to the right
  .dropdown-triangle-right;
  right: 7px;
}

.dropup,
.navbar-fixed-bottom .dropdown {
  .dropdown-menu {
    margin-top: 2px;
    margin-bottom: 14px;
    .dropdown-shadow;
    &:before {
      .dropdown-triangle-dropup;
    }
  }
  // Reverse the caret
  .caret {
    border: 0;
    &:before {
      content: @icon-var-chevron-up;
    }
  }
}

.ui-select-bootstrap {
  // Line up the caret
  .ui-select-toggle > .caret {
    margin-top: -6px;
    right: 13px;
  }

  // Add a dropdown triangle
  // We add it to the bottom of the select button
  // rather than the top of the menu, since the menu
  // has an overflow:hidden to truncate long lists.
  &.open .ui-select-match:after {
    .dropdown-triangle;
    .dropdown-triangle-right;
    top: 40px;  // Push it down
  }
  .ui-select-choices {
    margin-top: @dropdown-margin-top;
    max-height: 182px;
  }

  .ui-select-choices-row {
    > a {
      // Set padding to match dropdown menu
      padding: @dropdown-item-padding;
      color: @dropdown-link-color;
    }
    &:hover > a {
      // Set to brand colour when hovered
      color: @dropdown-link-hover-color;
      background-color: @dropdown-link-hover-bg;
    }
    &.active > a,
    &:hover.active > a {
      // Set to brand colour when active
      color: @dropdown-link-active-color;
      background-color: @dropdown-link-active-bg;
    }
  }

  // Fix the background colour just after the select loses focus
  .btn-default-focus {
    background-color: @dropdown-bg;
    box-shadow: none;
  }

  // Remove the style introduced by '.text-muted'
  .ui-select-placeholder {
    color: @dropdown-link-color;
  }

  // Don't show the search box when the select dropdown is open
  .ui-select-match {
    display: block !important;  // Override ng-hide
  }
  input.ui-select-search {
    display: none !important;
  }

  // Truncate long text
  .ui-select-placeholder,
  .ui-select-match-text {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
  }

  .ui-select-choices-row > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .ui-select-item-icon {
      vertical-align: middle;
      margin: -2px 0 0 8px;
    }
  }
}

.dropdown-menu-scrollable-triangle {
  .dropdown-triangle;
  display: none;
  top: 5px;
  left: 10px;
}

.open .dropdown-menu-scrollable-triangle {
  display: block;
}

.dropdown-menu-scrollable {
  max-height: 240px;
  overflow-x: hidden;
}

.dropdown-no-items {
  display: block;
  white-space: nowrap;
  padding: 10px 15px;
  font-style: italic;
}

.properties-auto-suggest-menu {
  position: absolute;
  .dropdown-menu {
    max-width: 300px;
  }

  .output-icon {
    padding: 3px 0 0 8px;
  }
}
