// Vendor CSS
@import (inline) "@claviska/jquery-minicolors/jquery.minicolors.css";
@import (inline) "highlight.js/styles/default.css";

// Override minicolors image location
.minicolors-sprite {
  background-image: url(../images/jquery.minicolors.png);
}

@input-border-radius: 4px;
@input-border: @gray-light;
@input-border-focus: @brand-info;
@form-control-border-width: 2px;

@dictionary-grid-gutter: 8px;

.form-section {
  margin-bottom: 25px;
}

// Flatten inputs and thicken lines
.form-control {
  border-width: @form-control-border-width;
  border-radius: @border-radius-large;
}

.textarea-elastic {
  resize: none;
}

.has-success {
  .form-control-validation(@text-color; @gray-light);
  .form-control:focus {
    border-color: @input-border-focus;
  }
  .control-indicator, .help-block {
    color: @gray-dark;
  }
}

.has-warning {
  .form-control-validation(@state-warning-text; @state-warning-text; @state-warning-bg);
  .control-indicator {
    color: @state-warning-text;
  }
}
.has-error {
  .form-control-validation(@state-danger-text; @state-danger-text; @state-danger-bg);
  .control-indicator {
    color: @state-danger-text;
  }
}

// Support a nested success state inside an overall error.
.has-error .has-success {
  .has-success;
}

// Remove box shadow
.form-control,
.has-success .form-control,
.has-error .form-control {
  &,
  &:focus {
    box-shadow: none;
  }
}

.validation-label {
  float: right;
  &:extend(.label);
  &:extend(.label-warning);
}

.has-success .validation-label {
  display: none;
}

.has-error .validation-label {
  &:extend(.label-danger);
}

.control-label-icon {
  margin: 0 4px;
  vertical-align: middle;
  > i {
    vertical-align: text-top;
  }
  > img {
    width: 20px;
    vertical-align: top;
  }
}

.control-label-action {
  cursor: pointer;
  float: right;
}

.form-control-container {
  position: relative;
}

.form-control-container .overlay-icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
}

.validation-label + .control-label-action {
  margin-right: 8px;
}

// Help text colour
.help-block {
  color: @gray-dark;
}

// Add spacing and italicise if we have both.
.help-block-main ~ .help-block-extra {
  font-style: italic;
  &:before {
    content: ' ';
  }
}

// Bring icon more in line with text
.help-block-main > i,
.help-block-extra > i {
  position: relative;
  top: 2px;
}

.form-control-feedback-action {
  pointer-events: auto;
  cursor: pointer;
  color: @input-border;
  .hover-transition;
  > i {
    font-size: @font-size-large;
    line-height: @input-height-base;
  }
}

// Set focus colour
.form-control:focus ~ .form-control-feedback-action {
  color: @input-border-focus;
}

// Set success/error states
.has-error .form-control-feedback-action,
.has-error .form-control:focus ~ .form-control-feedback-action {
  color: @state-danger-text;
}

// Success comes after error, so that
// we can support nested success states
// inside an overall error (e.g. wait task)
.has-success .form-control-feedback-action {
  color: @gray-light;
}
.has-success .form-control:focus ~ .form-control-feedback-action {
  color: @input-border-focus;
}

.form-control-has-indicator {
  position: relative;
  .control-indicator {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 16px;
    &.icon-warning {
      background-color: white;
      border-radius: 10px;
    }
  }
}

// Custom checkboxes and radio buttons,
// using Font Awesome icons
.checkbox, .radio {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;

  input {
    display: none;  // Hide the native form control
  }

  .control-label {
    padding-left: 0;
    cursor: pointer;
    display: table;

    &,
    &:before {
      transition: color 0.1s;
    }
  }

  // Set the icon to the :before pseudoelement
  .control-label:before {
    &:extend(.f-icon);  // Mixin icon base class
    display: table-cell;
    font-size: 145%;
    vertical-align: top;
  }

  .control-label-inner {
    display: table-cell;
    padding-left: 5px;
  }

  .checkbox-radio-colour(@gray-light, @brand-info);
}

.checkbox-lg, .radio-lg {
  // Resize slightly
  .control-label {
    font-size: @font-size-large;
    &:before {
      top: 2px;
      position: relative;
      font-size: 120%;
    }
  }
}

.checkbox-strong, .radio-strong {
  // Make the .control-label bold
  .control-label { font-weight: 600; }
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -10px; // Move up sibling radios or checkboxes for tighter spacing
}

.checkbox {
  .control-label:before {
    content: @checkbox-unchecked-icon;
  }

  .control-label:hover:before,
  input:checked + .control-label:before {
    content: @checkbox-checked-icon;
  }
}

.radio {
  .control-label:before {
    content: @radio-unchecked-icon;
  }

  .control-label:hover:before,
  input:checked + .control-label:before {
    content: @radio-checked-icon;
  }
}

.radio-disabled, .checkbox-disabled {
  .control-label {
    cursor: default;
  }
}

// Wrap radios/checkboxes in this group when using
// with label and help-text
.radio-group, .checkbox-group {
  margin-top: -15px;
  margin-bottom: -5px;
}

// Radio choice masker
.radio-choice-masker {
  transition: opacity @base-transition-duration;
  opacity: @deselected-opacity;
}

.radio-choice-masker-control {
  margin: 0;
}

.radio-choice-masker-lg {
  margin-bottom: 16px;
  .radio-choice-masker-control {
    font-size: 16px;
    .control-label:before {
      top: 1px;
      position: relative;
      font-size: 125%;
    }
  }
}

.radio-choice-masker-strong {
  .radio-strong;
}

.radio-choice-masker-contents {
  margin-top: 6px;
  margin-left: 26px;
}

.radio-choice-masker-selected {
  opacity: @selected-opacity;
}

.checkbox-card,
.radio-card {
  margin: 8px 0;
  padding: 0 8px;
  border: 2px solid @gray-light;
  border-radius: @border-radius-base;
  z-index: 1;
}

.checkbox-card-icon,
.radio-card-icon {
  padding: 10px 0;
  width: 20px;
  font-size: 20px;
  color: @gray;
}

.checkbox-card-label,
.radio-card-label {
  padding: 10px 0;
}

.dictionary-list {
  .list-unstyled;
  margin-bottom: 10px;
}

.dictionary-list-item {
  display: flex;
  @media (max-width: @screen-xs-max) {
    &+ .dictionary-list-item {
      margin-top: @dictionary-grid-gutter * 2;
    }
  }
  @media (min-width: @screen-sm-min) {
    &+ .dictionary-list-item {
      margin-top: @dictionary-grid-gutter;
    }
  }
}

.dictionary-field {
  flex: 1;
  .make-row(@dictionary-grid-gutter);
}

.dictionary-field-input {
  .make-sm-column(6; @dictionary-grid-gutter);
  @media (max-width: @screen-xs-max) {
    &+ .dictionary-field-input {
      margin-top: @dictionary-grid-gutter;
    }
  }
}

.dictionary-field-input-full {
  .make-sm-column(12; @dictionary-grid-gutter)
}

.dictionary-field-delete {
  padding: 0 5px;
}

.dictionary-field-delete-btn {
  float: right;
  width: 40px;

  &+ .dictionary-field {
    margin-right: 45px;
  }
}

.has-success .ui-select-bootstrap {
  .btn {
    &:extend(.btn-success all);
  }
  .text-muted {
    color: white;
  }
}

.has-error .ui-select-bootstrap {
  .btn {
    &:extend(.btn-danger all);
  }
  .text-muted {
    color: white;
  }
}

.input-mask-container {
  position: relative;
}

.input-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.draggable {
  cursor: grab;
}

.recaptcha-container {
  margin: 12px 0;
}

@text-templater-highlight-bg-color: @secondary-green;
@text-templater-selection-bg-color: @secondary-orange;
@text-templater-text-color: @text-color;

.text-templater {
  margin-top: 20px;
  position: relative;
}

.text-templater-highlights,
.text-templater-selection {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: auto;
}

.text-templater-editor {
  resize: none;
  background-color: transparent;
  color: @text-templater-text-color;
  position: relative;
  &::selection {
    color: @text-templater-text-color;
    background-color: @text-templater-selection-bg-color;
  }
}

.text-templater-highlight {
  background-color: transparent;
}

.text-templater-is-highlighted {
  background-color: @text-templater-highlight-bg-color;
}

.text-templater-is-selected {
  background-color: @text-templater-selection-bg-color;
}

.text-templater-highlight-control {
  position: absolute;
  cursor: pointer;
}

.text-templater-popup {
  position: absolute;
}

.text-templater-popup-controls {
  padding: 10px;
  min-width: 300px;
}

.text-templater-highlights        { z-index: 1; }
.text-templater-selection         { z-index: 2; }
.text-templater-editor            { z-index: 3; }
.text-templater-highlight-control { z-index: 4; }
.text-templater-popup             { z-index: 5; }

.text-templater + .text-templater-disabler {
  margin-top: 8px;
  padding-left: 6px;
}

.minicolors-swatch {
  border-color: white;
}

// Bot Auth Wizard Web Icon
.bot-auth-wizard-web-icon .web-icon-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.bot-auth-wizard-web-icon .web-icon-container .web-icon-preview {
  min-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 10px;
}

.bot-auth-wizard-facebook-persistent-menu {

  .dictionary-list {
    width: 100%;
  }

  .dictionary-field {
    display: flex;
    flex-wrap: wrap;

    .dictionary-field-input {
      flex: 1;
      float: none;
      width: inherit;

      @media (max-width: @screen-xs-max) {
        min-width: 100%;

        &+ .dictionary-field-input {
          margin-top: @dictionary-grid-gutter;
        }
      }
    }
  }

  .dictionary-list-item {
    flex-wrap: wrap;
    @media (max-width: @screen-xs-max) {
      &+ .dictionary-list-item {
        margin-top: @dictionary-grid-gutter;
      }
    }

    @media (min-width: @screen-sm-min) {
      &+ .dictionary-list-item {
        margin-top: @dictionary-grid-gutter;
      }
    }
  }

  .dictionary-field-add-level, .dictionary-field-add-level {
    padding-left: 5px;
  }

  .dictionary-add-item {
    margin-top: 8px;
  }

  .dictionary-field-nested {
    width: 100%;
    display: flex;
    margin-top: 8px;

    &>i {
      padding: 10px;
    }
  }

}

// Textarea.code
textarea.code {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}

pre.code {
  min-height: 60px;
  cursor: pointer;
  background-color: transparent;
  border-color: @gray-light;
  border-width: @form-control-border-width;
  border-radius: @border-radius-large;
  border-style: solid;
  margin: 0;

  font-size: 14px;
  line-height: 1.42857143;

  padding: 6px 12px;
}

.has-error {
  .code {
    border-color: @state-danger-text;
  }
}


pre.code:hover {
  background-color: @gray-lighter;
}

.valid-code {
  margin-left: 5px;
  color: @primary-green;
  visibility: hidden;
}
.valid-code.visible {
  visibility: visible;
}

// ngFileUpload
.box {
  width: 100%;
  outline: 2px dashed #ccc !important;
  outline-offset: -8px;

  font-size: 1.5rem;
  background-color: @gray-lighter;
  position: relative;
  padding: 20px 20px;

  transition: outline-offset .15s ease-in-out, background-color .15s linear;

  text-align: center;
}
.box.is_dragover {
  background-color: #EEE;
  outline: 2px dashed #333 !important;
  outline-offset: -12px;
}
.box__error {
  margin-top: 10px;
}

.box__choose {
  cursor: pointer;
}
.box__choose:hover {
  text-decoration: underline;
}

// Expand
.expand {
  .expand-control,
  .expand-info {
    display: inline-flex;
    align-items: center;
  }
  .expand-control {
    .link-external();
  }
  .expand-info {
    color: @gray;
    float: right;
    @media (max-width: (@grid-float-breakpoint)) {
      width: 100%;
      margin-bottom: 4px;
    }
  }
  .expand-text {
    margin-left: 6px;
  }
}