// Form component aliases
@checkbox-unchecked-icon: @icon-var-square;
@checkbox-checked-icon: @icon-var-check-square;
@radio-unchecked-icon: @icon-var-circle-o;
@radio-checked-icon: @icon-var-dot-circle-o;

// Font icons are single-colour glyphs. They are like regular text,
// and can be sized and coloured in the same way.
@icon-var-connector-add:  "\e600";
@icon-var-pencil:         "\e601";
@icon-var-remove:         "\e602";
@icon-var-accounts:       "\e603";
@icon-var-flows:          "\e604";
@icon-var-spinner:        "\e605";
@icon-var-filter:         "\e606";
@icon-var-yinyang:        "\e607";
@icon-var-flowxo:         "\e608";
@icon-var-user:           "\e609";
@icon-var-github:         "\e60a";
@icon-var-stopwatch:      "\e60b";
@icon-var-arrows:         "\e60c";
@icon-var-list:           "\e800";
@icon-var-eye:            "\e900";
@icon-var-google:         "\e901";
@icon-var-linkedin:       "\e903";
@icon-var-facebook:       "\e902";
@icon-var-email:          "\e904";
@icon-var-embed:          "\e905";
@icon-var-private:        "\e906";
@icon-var-shared:         "\e907";
@icon-var-share:          "\e908";
@icon-var-collections:    "\e909";
@icon-var-chat:           "\e90a";
@icon-var-minus-circle:   "\e90b";
@icon-var-data:           "\e90c";
@icon-var-folder:         "\e90d";
@icon-var-analytics:      "\e90e";
@icon-var-return-arrow:   "\e90f";
@icon-var-zoom:           "\e910";
@icon-var-wifi-rounded:   "\e911";
@icon-var-expand-vert:    "\e912";
@icon-var-check:          "\f00c";
@icon-var-times:          "\f00d";
@icon-var-power-off:      "\f011";
@icon-var-chevron-left:   "\f053";
@icon-var-chevron-right:  "\f054";
@icon-var-times-circle:   "\f057";
@icon-var-info-circle:    "\f05a";
@icon-var-plus:           "\f067";
@icon-var-minus:          "\f068";
@icon-var-warning:        "\f071";
@icon-var-calendar:       "\f073";
@icon-var-chevron-up:     "\f077";
@icon-var-chevron-down:   "\f078";
@icon-var-copy:           "\f0c5";
@icon-var-square:         "\f0c8";
@icon-var-circle-o:       "\f10c";
@icon-var-ellipsis-v:     "\f142";
@icon-var-check-square:   "\f14a";
@icon-var-dot-circle-o:   "\f192";
@icon-var-twitter:        "\f099";

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?2woauk');
  src: url('/fonts/icomoon.eot?2woauk#iefix') format('embedded-opentype'),
       url('/fonts/icomoon.ttf?2woauk') format('truetype'),
       url('/fonts/icomoon.woff?2woauk') format('woff'),
       url('/fonts/icomoon.svg?2woauk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.f-icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  .f-icon;
}

.text-icon-inline {
  vertical-align: text-bottom;
}

.icon-connector-add:before {
  content: @icon-var-connector-add;
}
.icon-pencil:before {
  content: @icon-var-pencil;
}
.icon-remove:before {
  content: @icon-var-remove;
}
.icon-accounts:before {
  content: @icon-var-accounts;
}
.icon-flows:before {
  content: @icon-var-flows;
}
.icon-spinner:before {
  content: @icon-var-spinner;
}
.icon-filter:before {
  content: @icon-var-filter;
}
.icon-yinyang:before {
  content: @icon-var-yinyang;
}
.icon-flowxo:before {
  content: @icon-var-flowxo;
}
.icon-user:before {
  content: @icon-var-user;
}
.icon-github:before {
  content: @icon-var-github;
}
.icon-stopwatch:before {
  content: @icon-var-stopwatch;
}
.icon-arrows:before {
  content: @icon-var-arrows;
}
.icon-list:before {
  content: @icon-var-list;
}
.icon-eye:before {
  content: @icon-var-eye;
}
.icon-google:before {
  content: @icon-var-google;
}
.icon-linkedin:before {
  content: @icon-var-linkedin;
}
.icon-facebook:before {
  content: @icon-var-facebook;
}
.icon-email:before {
  content: @icon-var-email;
}
.icon-embed:before {
  content: @icon-var-embed;
}
.icon-private:before {
  content: @icon-var-private;
}
.icon-shared:before {
  content: @icon-var-shared;
}
.icon-share:before {
  content: @icon-var-share;
}
.icon-collections:before {
  content: @icon-var-collections;
}
.icon-chat:before {
  content: @icon-var-chat;
}
.icon-minus-circle:before {
  content: @icon-var-minus-circle;
}
.icon-data:before {
  content: @icon-var-data;
}
.icon-folder:before {
  content: @icon-var-folder;
}
.icon-analytics:before {
  content: @icon-var-analytics;
}
.icon-return-arrow:before {
  content: @icon-var-return-arrow;
}
.icon-zoom:before {
  content: @icon-var-zoom;
}
.icon-wifi-rounded:before {
  content: @icon-var-wifi-rounded;
}
.icon-expand-vertically:before {
  content: @icon-var-expand-vert;
}
.icon-check:before {
  content: @icon-var-check;
}
.icon-times:before {
  content: @icon-var-times;
}
.icon-power-off:before {
  content: @icon-var-power-off;
}
.icon-chevron-left:before {
  content: @icon-var-chevron-left;
}
.icon-chevron-right:before {
  content: @icon-var-chevron-right;
}
.icon-times-circle:before {
  content: @icon-var-times-circle;
}
.icon-info-circle:before {
  content: @icon-var-info-circle;
}
.icon-plus:before {
  content: @icon-var-plus;
}
.icon-minus:before {
  content: @icon-var-minus;
}
.icon-warning:before {
  content: @icon-var-warning;
}
.icon-calendar:before {
  content: @icon-var-calendar;
}
.icon-chevron-up:before {
  content: @icon-var-chevron-up;
}
.icon-chevron-down:before {
  content: @icon-var-chevron-down;
}
.icon-copy:before {
  content: @icon-var-copy;
}
.icon-square:before {
  content: @icon-var-square;
}
.icon-circle-o:before {
  content: @icon-var-circle-o;
}
.icon-ellipsis-v:before {
  content: @icon-var-ellipsis-v;
}
.icon-check-square:before {
  content: @icon-var-check-square;
}
.icon-dot-circle-o:before {
  content: @icon-var-dot-circle-o;
}
.icon-twitter:before {
  content: @icon-var-twitter;
}

@keyframes spin {
  from { transform: rotate(0deg);   }
  to   { transform: rotate(360deg); }
}

.icon-spinner {
  animation: spin 1s linear infinite;

  // Compensate for 'wobble'
  transform-origin: 50% 48.35%;
}

.service-icon-card {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: @border-radius-base;
  background-color: #fff;
  .service-icon-card-inner {
    height: 50%;
    width: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
      width: 100%;
      height: auto;
    }
    img, .spinner {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}


.glyphicon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-calendar:before {
  content: "\f073";
}
.glyphicon-chevron-left:before {
  content: "\f053";
}
.glyphicon-chevron-right:before {
  content: "\f054";
}

.task-icon {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  border-radius: @border-radius-base;
  position: relative;

  img {
    border-radius: @border-radius-base;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.svg {
    img {
      width: 100%;
    }
  }

  &.png {
    background-color: white;
    img {
      width: 60%;
    }
  }

}
