.inline-editor-preview {
  display: inline-block;
  cursor: pointer;

  width: 100%;
  .text-overflow();

  .make-before-icon(pencil; {
    font-size: 0.9em;
    color: @gray;
    vertical-align: middle;
    padding-right: 0.7em;
  });

  .hover-transition;
  &:hover:before {
    color: @gray-dark;
  }
}

.inline-editor-input {
  &:extend(.form-control all);
  display: inline-block;
  height: auto;
  font-size: inherit;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 70%;
  @media(min-width: @screen-sm-min) {
    // max-width: 400px;
    margin-bottom: 0;
  }
  @media(max-width: @screen-xs-min) {
    max-width: 200px;
  }
}

.inline-editor-btn {
  &:extend(.btn all);

  @media(max-width: @screen-xs-min) {
    padding: 9px 15px;
  }
}

.ie {
  .inline-editor-btn {
    margin-bottom: 14px;
  }
}

.editable-lg {
  .inline-editor-preview:before {
    font-size: 0.45em;
    padding-right: 0.35em;
  }

  .inline-editor-input {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .inline-editor-btn {
    &:extend(.btn-lg all);
  }
}

.inline-editor-btn + .inline-editor-btn {
  margin-left: 5px;
}

.inline-editor-btn-save {
  &:extend(.btn-success all);
  .make-before-icon(check);
}

.inline-editor-btn-cancel {
  &:extend(.btn-default all);
  .make-before-icon(times);
}

.inline-editor-controls + .inline-editor-help-block {
  margin-top: 8px;
}

.inline-editor-help-block {
  font-size: @font-size-base;
  font-weight: normal;
}