.list-filter {
  margin-bottom: 30px;
  .sep-top-bottom(@spacing: 15px; @colour: @gray-light);
}

.list-filter-label {
  font-size: @font-size-large;
  font-weight: 600;
  vertical-align: middle;
}

.list-filter-control {
  display: inline-block;
  width: 140px;
  margin-left: 10px;
}