/* angular-loading-bar styles */

@loading-bar-colour: @primary-orange;

/* Make clicks pass-through */
#loading-bar {
  pointer-events: none;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  transition: width 350ms;

  background: @loading-bar-colour;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 3px;
  opacity: .45;
  box-shadow: @loading-bar-colour 1px 0 6px 1px;
  border-radius: 100%;
}