.message-wrapper {
  width: 80%;
  max-width: 500px;
  padding: 10px;

  &.message-wrapper-wide {
    max-width: 100%;
  }

  .message-container {

    // Details
    .details {
      display: flex;
      width: 100%;

      .icon-container {
        margin-top: 33px;
        display: flex;
        min-width: 14px;

        &.up-top {
          margin-top: 5px;
        }

        .icon {
          overflow: hidden;
          width: 30px;
          height: 30px;
          margin: 0 10px;
          border-radius: 30px;
          .task-icon, img {
            border-radius: 30px;
          }
        }
      }

      .other-container {
        flex: 1;
        max-width: calc(~"100% - 50px");

        .date {
          margin: 5px 7px;
          color: @gray;
          font-size: 12px;
          line-height: 18px;
        }

        .options {
          display: flex;
          justify-content: flex-end;
          flex-flow: row wrap;
          padding: 10px 0;
          margin-right: -5px;

          .option {
            border: solid 1px @primary-blue;
            border-radius: 20px;
            color: @primary-blue;
            display: inline-block;
            padding: 7px;
            margin: 5px;
          }
        }
      }

    }

    // Info
    .info {
      border: 2px solid @gray-light;
      color: @gray;
      border-radius: 20px;
      padding: 10px 14px;
      display: inline-block;
      overflow: hidden;
      word-wrap: break-word;
      i {
        position: relative;
        top: 1px;
        margin-right: 6px;
        padding-left: 1px; // Fixes circle overflowing left slightly
      }
    }

    // Message or Text
    .message {
      background-color: white;
      border-radius: 20px;
      box-shadow: -1px 2px 30px rgba(17, 54, 84, .03);
      padding: 10px 14px;
      display: inline-block;
      word-break: break-word;

      a {
        text-decoration: underline;
      }

      a:hover, a:active, a:focus {
        text-decoration: none;
      }

      .emoji {
        height: 18px;
        width: 18px;
        vertical-align: text-bottom;
      }

      & > .italic {
        font-style: italic;
      }

      & > .ellipsis {
        position: relative;
        overflow: hidden;
        max-height: 80px;

        &:after {
          // Line clamping using a fade out
          // https://css-tricks.com/line-clampin/#article-header-id-1
          content: "";
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #FFF 100%);
          text-align: right;
          position: absolute;
          top: 60px;
          right: 0;
          width: 100%;
          height: 20px;
        }
      }

      & :first-child {
        margin-top: 0;
      }
      & :last-child {
        margin-bottom: 0;
      }
    }

    // Image
    .image {
      border-radius: 20px;
      position: relative;
      z-index: 0;
      padding: 0 !important;
      overflow: hidden;

      img {
        display: block;
        max-width: 100%;
        max-height: 300px;
        height: auto;
        border: 0;
      }
    }

    // Card
    .card {
      border-radius: 10px;
      box-shadow: -1px 2px 30px rgba(17, 54, 84, .03);
      background-color: white;
      overflow: hidden;
      width: 100%;
      z-index: 0;

      .card-image-container {
        position: relative;
        border-bottom: solid 1px transparent;

        .card-image-background {
          background-position: 50% 50%;
          background-size: cover;
          display: block;
          padding-bottom: 52%;
          position: relative;
        }
      }

      .main {
        padding: 10px;

        .title {
          font-weight: bold;
          font-size: 16px;
        }

        .text {
          margin-top: 2px;
          color: @gray;
        }

        .link {
          margin-top: 5px;
          font-size: 12px;
          a {
            color: @gray;
            text-decoration: underline;
            &:hover,
            &:active,
            &:focus {
              text-decoration: none;
            }
          }
        }
      }

      .choices {
        div.choice {
          text-align: center;
          padding: 5px;
          border-top: solid 2px @gray-lightest;
          line-height: 32px;
          font-weight: 500;
          color: @primary-blue;
        }
      }
    }

    // Cards
    .cards {
      position: relative;
      overflow: hidden;

      & > .left, & > .right {
        position: absolute;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: center;

        .cards-control {
          cursor: pointer;
          background-color: rgba(248, 249, 248, 0.9);
          box-shadow: -1px 2px 30px rgba(17, 54, 84, .15);
          padding: 10px 16px;
          z-index: 2;
        }
      }

      & > .left {
        left: 0;
        .cards-control {
          border-top-right-radius: @border-radius-base;
          border-bottom-right-radius: @border-radius-base;
        }
        &:after {
          content: "";
          position: absolute;
          z-index: 1;
          left: 0;
          background-image: linear-gradient(to left,
                            rgba(248, 249, 248, 0),
                            rgba(248, 249, 248, 1) 90%);
          width: 70%;
          height: 100%;
        }
      }

      & > .right {
        right: 0;
        .cards-control {
          border-top-left-radius: @border-radius-base;
          border-bottom-left-radius: @border-radius-base;
        }
        &:after {
          content: "";
          position: absolute;
          z-index: 1;
          right: 0;
          background-image: linear-gradient(to right,
                            rgba(248, 249, 248, 0),
                            rgba(248, 249, 248, 1) 90%);
          width: 70%;
          height: 100%;
        }
      }

      & > .cards-container {
        position: relative;
        overflow: hidden;

        & > .cards-list {
          display: inline-block;
          left: 0;
          position: relative;
          transition: left 500ms ease-out;
          white-space: nowrap;

          & > .card-container {
            display: inline-block;
            vertical-align: top;

            & > .card {
              margin-right: 10px;
            }
            &:last-child > .card {
              margin-right: 0;
            }
          }
        }
      }
    }

  }

  &.left {
    align-self: flex-start;
    padding-left: 0;

    .icon-container {
      order: 1;
    }
    .other-container {
      order: 2;
    }

    .date {
      text-align: left;
    }

    .icon {
      border: 2px solid @primary-green;
    }
  }

  &.right {
    align-self: flex-end;
    padding-right: 0;

    .icon-container {
      order: 2;
    }
    .other-container {
      order: 1;
    }

    .date {
      text-align: right;
    }

    .icon {
      background-color: transparent;
      border-radius: 0;
    }

    .content {
      display: flex;
      justify-content: flex-end;
    }

    .message {
      background-color: @primary-purple;
      color: white;

      & > .ellipsis {
        &:after {
          background: linear-gradient(to bottom, rgba(111, 95, 232, 0), @primary-purple 100%);
        }
      }

      a {
        color: white;
      }
    }
  }

}
