@modal-title-padding: 20px;
@modal-max-width: 800px;
@modal-dialog-gutter: 10px;

.modal-dialog {
  // Override bootstrap styles for different sized viewports
  width: auto;
  margin: 20px @modal-dialog-gutter;
  @media(min-width: (@modal-max-width + 2*@modal-dialog-gutter)) {
    width: @modal-max-width;
    margin: 20px auto;
  }
  @media (min-width: @screen-md-min) {
    margin: 30px auto;
  }
}

.modal.fade .modal-dialog {
  // Remove the slide-up
  transform: translate(0, 0);
}

.modal-confirm {
  max-width: 500px;
}

.modal-header {
  border-bottom: 0;
  z-index: 1;
  .sep-bottom(@spacing: @modal-inner-padding);
}

.modal-title {
  min-height: 34px;
}

.modal-body {
  // Remove top and bottom padding, let the
  // pseudo elements sort out the spacing
  // Padding actually set to 1px to stop
  // wizard body from 'jumping' between steps
  padding: 1px @modal-inner-padding;

  // Add separators to modal body
  // .sep-top-bottom(@spacing: @modal-inner-padding + 10px);

  // Give it a higher z-index than the footer,
  // so that expanded dropdowns sit above the
  // footer control buttons
  z-index: 2;

  // For most content (but not all) we need
  // extra left/right padding
  // For example, forms
  .modal-body-inner {
    padding: 0 12px;
  }
}

.modal-footer {
  margin-top: 0;
  border-top: 0;
  z-index: 1;
  .sep-top(@spacing: @modal-inner-padding);
  .modal-footer-text {
    margin-left: 10px;
    color: @gray;
  }
}

.modal-content {
  box-shadow: none;
  border: 0;
}

// Enlarge the close button
.modal .close {
  font-size: 30px;
}

.modal-help {
  padding: 2px 12px 0 0;
  font-size: @font-size-large;

  .link-external {
    color: @gray;
    border-color: @gray;

    &:hover, &:active, &:focus {
      color: @gray-dark;
      border-color: @gray-dark;
    }
  }
}

// Override bootstrap rule to remove box shadow
@media (min-width: @screen-sm-min) {
  .modal-content {
    box-shadow: none;
  }
}

// Fix for modal backdrop in bootstrap 3.3
// https://github.com/angular-ui/bootstrap/issues/2970
.modal-backdrop {
  bottom: 0;
  position: fixed;
}
