@nav-link-hover-bg: @gray-light;
@nav-link-padding: 15px;
@nav-pills-border-radius: 0;

.nav-pills {
  font-size: @font-size-large;
  font-weight: 600;

  // Add nav border to top and bottom of menu
  .sep-top-bottom(@colour: @gray-light);

  // Separate out items a bit more
  > li + li {
    margin-left: 10px;
  }

  > li > a {
    // Add transition to hover states
    .hover-transition;
    display: inline-block;
  }

  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    background-color: @gray-light;
    padding: 6px 14px;
    margin: 10px;
    border-radius: 2px;
  }

  > li:not(.active) > a {
    .link-external;
    padding: 0;
    margin: 16px 10px 0 10px;
    background: none !important;
  }

  > li:not(.active) > a:hover {
    color: @external-link-colour-hover;
  }
}