@navbar-width-expanded: 200px;
@navbar-width: 60px;

.toggle-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;

  &.opened {
    .toggle {
      padding: 16px 20px;
      color: white !important;
    }
  }

  .toggle {
    padding: 20px;
    border: 0;
    background-color: transparent;
    font-size: 24px;

    @media(min-width: @screen-sm-min) {
      display: none;
    }

    .icon-bar {
      .hr();
      background-color: @gray-darker;
      width: 26px;
      margin-top: 5px;
    }
  }
}

.navbar-app {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;

  @media(min-width: @screen-sm-min) {
    width: auto;
    display: block;
  }

  &.show {
    width: 100%;
    @media(min-width: @screen-sm-min) {
      width: auto;
    }
    display: block;

    .mask {
      width: 100%;
      box-shadow: 2px 0 30px rgba(17, 54, 84, .08);

      .item-label {
        opacity: 1 !important;
      }
    }
  }

  .mask {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: width 100ms ease-in-out;
    transition-property: width, opacity;
    background-color: @primary-green;

    @media(min-width: @screen-sm-min) {
      width: @navbar-width;
    }

    .item-label {
      transition: opacity 200ms ease-in-out;
    }


    .menu-container {
      width: 100%;

      @media(min-width: @screen-sm-min) {
        width: @navbar-width-expanded;
      }

      .item {
        color: white;
        cursor: pointer;

        a {
          color: white;
          text-decoration: none;
          display: block;
        }

        &:not(.no-hover):hover {
          .item-content {
            background-color: @tint-mid;
          }
        }

        &.logo {
          border-bottom: 1px solid @tint-mid;
          margin-bottom: 10px;
        }

        .item-content {
          margin: 2px 10px;
          padding: 8px 0;
          border-radius: @border-radius-base;

          &.open {
            background-color: @tint-mid;
          }

          .item-container {
            display: flex;
            align-items: center;
          }

          .item-icon {
            font-size: 20px;
            width: 24px;
            margin: 0 10px 0 8px;
            text-align: center;
          }

          .item-label {
            font-size: 16px;
            font-weight: 600;
            opacity: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 8px;
          }
        }

        &.profile {
          &> .sub-menu-wrapper > .item-content {
            padding: 4px 0;

            .item-icon {
              width: 32px;
              height: 30px;
              margin: 0 8px 0 4px;
              border-radius: @border-radius-base;
            }
          }
        }

        .sub-menu-wrapper {
          position: relative;

          .sub-menu {
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 42px;

            display: none;
            transition: opacity 200ms ease-out;
            opacity: 0;

            background-color: white;
            border-radius: @border-radius-base;
            padding: 8px 0;

            &.show {
              display: block;
              opacity: 1;
              transition: opacity 200ms ease-in;
            }

            .item {
              a {
                color: @primary-green;
                margin: 0;
              }

              &:hover {
                .item-content {
                  .item-icon {
                    color: @text-color;
                  }
                  .item-label {
                    color: @text-color;
                  }
                }
              }

              .item-content {
                .item-icon {
                  color: @primary-green;
                }
                .item-label {
                  color: @primary-green;
                }
              }
            }
          }
        }
      }

      .header {
        .logo {
          img {
            height: 40px;
            width: auto;
          }
        }
      }

      .bottom {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding-bottom: 10px;

        @media(min-width: @screen-sm-min) {
          width: @navbar-width-expanded;
        }
      }

    }
  }
}
