@popover-bg: @primary-green;
@popover-max-width: 320px;
@popover-static-width: @popover-max-width;
@popover-arrow-outer-color: @popover-bg;
@popover-arrow-color: @popover-bg;

.popover {
  box-shadow: none;
  border: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

.popover-static {
  display: block;
  z-index: 1;
}