// Progress (spinner) icons
.progress-loader-container {
  min-height: 40px;
}

// Container
.progress-state,
.progress-mask {
  position: relative;
}

// Regular States
.progress-icon,
.progress-state-label,
.progress-mask-content {
  transition: 0.3s ease all;
}

.btn.progress-state[disabled] {
  // Override bootstrap, which sets disabled buttons
  // with the 'disabled' hand. We don't really want this.
  cursor: auto;
}

.btn-primary-action > .progress-state-label {
  // A fix to avoid interfering with
  // .primary-action transition state.
  transition: none;
}

.progress-icon {
  .spinner;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -(@spinner-size / 2);
  margin-top: -(@spinner-size / 2);
  pointer-events: none;
}

.progress-icon-large {
  .spinner-lg;
  margin-left: -(@spinner-size-large / 2);
  margin-top: -(@spinner-size-large / 2);
}

.progress-icon-large-2 {
  .spinner-lg-2;
  margin-left: -(@spinner-size-large-2 / 2);
  margin-top: -(@spinner-size-large-2 / 2);
}

.progress-icon-hidden {
  opacity: 0;
}

.progress-mask-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.progress-mask-icon, .progress-gray-icon {
  color: @gray-light;
}

.progress-mask-icon-hidden, .progress-mask-overlay {
  opacity: 0;
}

.progress-state-label-masked {
  opacity: 0;
}

.progress-mask-content-muted {
  opacity: 0.3; // Fade out the contents
}

// Z-indexes for progress overlay
.progress-mask > .progress-mask-content {
  z-index: 1;   // Content is always at level 1
}

.progress-mask > .progress-mask-overlay {
  z-index: -1;  // When hidden, display overlay under content.
}
.progress-mask > .progress-mask-overlay-activated {
  z-index: 2;   // When activated, display on top of content.
}

.progress-mask > .progress-mask-icon {
  z-index: 3;   // When activated, display on top of everything.
}
.progress-mask > .progress-mask-icon-hidden {
  z-index: -1;  // When hidden, display under content.
}

// Progress spinner size variations
.btn-lg .progress-icon,
.progress-mask-icon {
  font-size: @font-size-large;
  margin-left: -(@font-size-large / 2);
  margin-top: -(@font-size-large / 2);
}

.progress-mask-icon-large {
  .spinner-icon(@size: 72px);
  margin-left: -36px;
}
