@progress-bar-font-size: @font-size-base;
@progress-bar-height: 32px;

.progress {
  box-shadow: none;
  height: @progress-bar-height;
  margin-bottom: 14px;
}

.progress-bar {
  box-shadow: none;
  font-size: @progress-bar-font-size;
  line-height: @progress-bar-height;
}


