.slideout {

  @media (max-width: @grid-float-breakpoint) {
    width: 100% !important;
  }

  .slideout-title {
    min-height: 34px;
    margin: 0;
  }

  .slideout-extra {
    float: right;
    margin-right: 12px;
  }

  .slideout-help {
    padding: 2px 12px 0 0;
    font-size: 18px;
    float: right;
    .link-external {
      color: @gray;
      border-color: @gray;
      &:hover,
      &:active,
      &:focus {
        color: @gray-dark;
        border-color: @gray-dark;
      }
    }
  }

  .close {
    font-size: 30px;
  }

  .slideout-header {
    padding: 20px;
    z-index: 1;
    .sep-bottom(@spacing: @modal-inner-padding);
  }

  .slideout-body {
    flex: 1;
    padding: 1px 20px;
    z-index: 2;
  }

  .slideout-footer {
    margin-top: 0;
    border-top: 0;
    z-index: 1;
    padding: 20px;
    .sep-top(@spacing: @modal-inner-padding);
  }

}
