@spinner-size: 20px;
@spinner-size-large: 24px;
@spinner-size-large-2: 48px;
@spinner-size-small: 16px;

.spinner {
  .spinner-icon(@size: @spinner-size);
}

.spinner-lg {
  .spinner-icon(@size: @spinner-size-large);
}

.spinner-lg-2 {
  .spinner-icon(@size: @spinner-size-large-2);
}

.spinner-sm {
  .spinner-icon(@size: @spinner-size-small);
}
