// Add transition to hover table
.table-hover {
  > tbody > tr {
    &, > td {
      .hover-transition;
    }
  }
}

.table-light {
  th {
    border-bottom: none !important;
  }
  td {
    border-color: white !important;
  }
}

.table-styled {
  width: 100%;
  border-radius: @border-radius-base;
  border: 2px solid @gray-lighter;
  margin-bottom: 25px;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.05);

  .no-data {
    text-align: center;
    padding: 100px;
    height: 300px;
    color: @gray;
    i {
      font-size: 50px;
      display: block;
      color: @gray-light;
      margin-bottom: 10px;
    }
  }

  .no-value {
    color: @gray;
  }

  .info {
    position: relative;
    top: 1px;
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  table td,
  table th {
    text-align: left;
    padding: 10px 18px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:last-child {
      text-align: right;
      width: 125px;
    }
  }
  table th {
    font-size: 16px;
    font-weight: 600;
  }
  table tr:nth-child(2n) td {
    background-color: @gray-lightest;
  }
}

.table-pagination {
  .clearfix;

  .table-pagination-left {
    float: left;
  }

  .table-pagination-right {
    float: right;
    text-align: right;
    line-height: 33px;
  }

  .table-pagination-text:last-child,
  button:last-child {
    margin-right: 0;
  }

  .table-pagination-text {
    color: @gray-darker;
    font-weight: 600;
    font-size: @font-size-h4;
    vertical-align: middle;
    margin: 0 12px 0 0;
  }

  button {
    margin: 0 6px 0 0;
  }
}