.tag {
  display: inline-flex;
  align-items: center;
  border: 1px solid;
  border-radius: @border-radius-base;
  padding: 1px 5px;
  font-weight: 600;
  &.tag-green {
    border-color: @primary-green;
    color: @primary-green;
  }
  &.tag-orange {
    border-color: @primary-orange;
    color: @primary-orange;
  }
  &.tag-gray {
    border-color: @gray;
    color: @gray;
  }
  &.tag-red {
    border-color: @primary-red;
    color: @primary-red;
  }
  &.tag-purple {
    border-color: @primary-purple;
    color: @primary-purple;
  }
  &.tag-blue {
    border-color: @primary-blue;
    color: @primary-blue;
  }
  &.tag-filled-purple {
    border-color: @primary-purple;
    background-color: @primary-purple;
    color: white;
  }
  i + div {
    margin-left: 5px;
  }
}
