@toggle-switch-height: 34px;

@toggle-switch-state-width: 50px;
@toggle-switch-handle-inner-width: @sep-size;
@toggle-switch-handle-inner-margin: @sep-size + 2px;

@toggle-switch-state-on-bg-color: @brand-success;
@toggle-switch-state-on-color: white;

@toggle-switch-state-off-bg-color: @brand-primary;
@toggle-switch-state-off-color: white;

@toggle-switch-state-padding: 10px;

@toggle-switch-handle-width:
  @toggle-switch-handle-inner-width +
  (@toggle-switch-handle-inner-margin * 2);

.toggle-switch, .toggle-switch-inner,
.toggle-switch-state, .toggle-switch-handle {
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
}

.toggle-switch {
  width: @toggle-switch-state-width + @toggle-switch-handle-width;
  height: @toggle-switch-height;
  border-radius: @border-radius-base;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  user-select: none;
  color: white;
}

.toggle-switch-inner {
  width: (@toggle-switch-state-width * 2) +
          @toggle-switch-handle-width;
}

.toggle-switch-state, .toggle-switch-handle {
  vertical-align: middle;
}

.toggle-switch-state {
  width: @toggle-switch-state-width;
  font-weight: 600;
  line-height: @toggle-switch-height;
}

// States
.toggle-switch-on {
  color: @toggle-switch-state-on-color;
}

.toggle-switch-off {
  color: @toggle-switch-state-off-color;
}

.toggle-switch-state-on {
  background-color: @toggle-switch-state-on-bg-color;
  text-align: left;
  padding-left: @toggle-switch-state-padding;
}

.toggle-switch-state-off {
  background-color: @toggle-switch-state-off-bg-color;
  text-align: right;
  padding-right: @toggle-switch-state-padding;
}

.toggle-switch-handle {
  width: @toggle-switch-handle-width;
  padding: 5px @toggle-switch-handle-inner-margin;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: @toggle-switch-handle-inner-width/2;
  }
}

// Default state is off
.toggle-switch-handle {
  background-color: @toggle-switch-state-off-bg-color;
  &:before {
    background-color: @toggle-switch-state-off-color;
  }
}
.toggle-switch-inner {
  margin-left: -@toggle-switch-state-width;
}

.toggle-switch-on {
  .toggle-switch-handle {
    background-color: @toggle-switch-state-on-bg-color;
    &:before {
      background-color: @toggle-switch-state-on-color;
    }
  }
  .toggle-switch-inner {
    margin-left: 0;
  }
}

.toggle-switch-disabled,
.toggle-switch-loading {
  .toggle-switch-handle,
  .toggle-switch-state {
    background-color: @gray-light !important;
  }
  cursor: not-allowed;
  pointer-events: none;
}
