.tooltip-large .tooltip-inner {
  max-width: 400px;
}

.tooltip-text-left-aligned .tooltip-inner {
  text-align: left;
}

.tooltip-opaque.in {
  opacity: 1;
}

.tooltip-warning {
  &.top .tooltip-arrow {
    border-top-color: @brand-warning;
  }
  .tooltip-inner {
    color: #fff;
    background-color: @brand-warning;
  }
}

.tooltip-danger {
  &.top .tooltip-arrow {
    border-top-color: @brand-danger;
  }
  .tooltip-inner {
    color: #fff;
    background-color: @brand-danger;
  }
}

.btn-tooltip-target + .tooltip {
  margin-top: -12px;
}

.tooltip-list {
  padding-left: 15px;
  margin-bottom: 0;
}

.hide-tooltip + .tooltip {
  .hidden;
}

.react-tooltip {
  z-index: 3000 !important;
  background-color: @text-color !important;
  &.place-top {
    &:after {
      border-top-color: @text-color !important;
    }
  }
}
