@font-size-h1: @font-size-h2;

@external-link-colour: @primary-green;
@external-link-colour-hover: darken(@primary-green, 15%);
@external-link-border-colour: @primary-green;

@font-face {
  font-family: 'benton-sans';
  src: url('/fonts/benton-sans-regular.eot');
  src: url('/fonts/benton-sans-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/benton-sans-regular.woff') format('woff'),
       url('/fonts/benton-sans-regular.ttf') format('truetype'),
       url('/fonts/benton-sans-regular.svg#benton-sans') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: 'benton-sans';
  src: url('/fonts/benton-sans-medium.eot');
  src: url('/fonts/benton-sans-medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/benton-sans-medium.woff') format('woff'),
       url('/fonts/benton-sans-medium.ttf') format('truetype'),
       url('/fonts/benton-sans-medium.svg#benton-sans') format('svg');
  font-weight: bold;
  font-style: normal;
}

h2, .h2 {
  color: @primary-green;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: @line-height-computed / 2;
}

h1, .h1 {
  &+ h2, .h2 {
    margin-top: 0;  // Fix header spacing when they are part of grid
  }
}

.heading-info,
.text-info {
  color: @brand-info;
}

// If you want an underlined anchor, add this class.
// Otherwise. if you blanket set text-decoration on the `a` tag,
// this messes up everywhere else which has an anchor
// (e.g. buttons, dropdown menus etc)
// Also works for 'fake links' (e.g. spans)
.link-external {
  .hover-transition;
  color: @external-link-colour;
  border-bottom: 1px solid @external-link-border-colour;
  cursor: pointer;

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: @external-link-colour-hover;
    border-color: @external-link-colour-hover;
  }
}