<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <%- include includes/app/head.html -%>
  <title>Flow XO</title>

  <link rel="stylesheet" href="/styles/app.css">

</head>
<body class="preload">

  <!--[if lt IE 10]>
    <div class="alert alert-block alert-warning alert-banner">
      <p>
        <i class="icon-warning alert-icon"></i>&nbsp;You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </p>
    </div>
  <![endif]-->

  <div
   class="app-page app-layout app-layout-{{layout}} {{ browserClass }}"
   ng-app="flowxo-app"
   ng-controller="AppCtrl"
   connectivity="{ online: 'online()', offline: 'offline()' }">
    <div class="app-page-content" ng-view></div>
  </div>

  <script src="/scripts/vendor.js"></script>
  <script src="/scripts/app.js"></script>

</body>
</html>
