<!DOCTYPE html>
<html lang="en">
<head>
  <title>Under Maintenance</title>
  <%- include includes/site/head.html -%>
</head>

<body>
  <%- include includes/site/navbar.html -%>

  <header class="sub-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 header-text">
          <h1>Under Maintenance</h1>
        </div>
      </div>
    </div>
  </header>

  <section class="container-fluid info">
    <div class="row">
      <div class="col-sm-12">
        <h4>Sorry, we're undergoing some essential maintenance right now. Please check back again soon.</h4>
      </div>
    </div>
  </section>

  <%- include includes/site/footer.html -%>
  <%- include includes/site/scripts.html -%>

</body>
</html>
