/* Base rules are the defaults.
 * They are almost exclusively single element selectors
 * but could include attribute selectors, pseudo-class selectors,
 * child selectors or sibling selectors. Essentially, a base style
 * says that wherever this element is on the page, it should look like __this__.
 *
 * http://smacss.com/book/type-base
 *
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html * {
  outline: 0 !important;
}

// Hack to remove Chrome autofill yellow BG
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

// Stop IE displaying the reveal password button
input::-ms-clear, input::-ms-reveal{
    display:none;
}

// Responsive images fill their container
img {
  width: 100%;
  height: auto;
}

label {
  font-weight: 600;
}

// Prevent animations from happening until after page load
// Use JS to remove class .preload from body
.preload * {
  transition: none !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  min-width: 320px;

  &.noscroll {
    overflow: hidden;
  }

  &.noscroll-mobile, &.modal-open {
    @media(max-width: @screen-sm-min) {
      overflow: hidden;
      height: 100%;
      width: 100%;
      position: fixed;
    }
  }
}

// Space out numbered lists
ol > li {
  margin-bottom: 3px;
}

pre {
  word-break: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
}

textarea {
  // Fix IE compatibility issue with angular-elastic
  // https://github.com/monospaced/angular-elastic/issues/58
  min-height: 60px;
}

.app-page {
  min-height: 100%;   // Full-height of body
}

.app-page-content {
  @media(min-width: @screen-sm-min) {
    margin-left: 60px;
  }
}

.container-fluid {
  margin: 0 auto;

  // Give ourselves a bit more room...
  padding-left: @screen-xs-gutter;
  padding-right: @screen-xs-gutter;

  @media(min-width: @screen-sm-min) {
    padding-left: @screen-sm-gutter;
    padding-right: @screen-sm-gutter;
  }

  @media(min-width: @screen-md-min) {
    padding-left: @screen-md-gutter;
    padding-right: @screen-md-gutter;
  }
}

.server-label {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 5px 20px;
  color: #fff;
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

[click-select] {
  cursor: pointer;
}

.right {
  float: right;
}

.left {
  float: left;
}