/*
 * Layouts divide the page into sections.
 * Layouts hold one or more modules together.
 *
 * Layout naming conventions take inspiration from
 * SMACSS and BEM syntax.
 *
 * http://smacss.com/book/type-layout
 * http://thesassway.com/advanced/modular-css-naming-conventions
 */

.app-layout {
  background-color: @gray-lighter;
}

.app-layout-user-profile,
.app-layout-workflow-builder,
.app-layout-workflow-list,
.app-layout-accounts,
.app-layout-bots,
.app-layout-analytics,
.app-layout-interactions,
.app-layout-broadcasts {
  background-color: white;
}

.app-layout-login,
.app-layout-password-reset {
  .app-page-content {
    margin-left: 0;
  }
}



.layout-header {
  margin: @screen-xs-gutter 0 30px 0;
  display: flex;

  @media(min-width: @screen-sm-min) {
    margin-top: @screen-sm-gutter;
  }

  @media(min-width: @screen-md-min) {
    margin-top: @screen-md-gutter;
  }

  @media (max-width: @grid-float-breakpoint) {
    display: block;
  }

  .layout-header-title {
    flex-grow: 1;
    margin: 0;
    position: relative;
    top: -2px;
    padding: 0 25px 0 0;

    @media (max-width: @grid-float-breakpoint) {
      flex: none;
      padding-right: 0;
    }

    .layout-header-icon {
      position: relative;
      top: -1px;
      font-size: 16px;
      padding: 0 3px;
      width: 30px;
      height: 30px;
    }

    .layout-header-editable {
      cursor: pointer;
      .layout-header-icon {
        color: @gray;
        display: none;
        visibility: hidden;
      }
      &:hover {
        .layout-header-icon {
          display: inline;
          visibility: visible;
        }
      }
    }
  }

  .layout-header-controls {
    text-align: right;
    flex: 0 0 auto;

    @media (max-width: @grid-float-breakpoint) {
      flex: none;
      margin-top: 20px;
      margin-bottom: 35px;
      text-align: left;
    }

    .layout-header-control {
      display: inline-block;
      vertical-align: middle;
      height: 34px;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }

      &.layout-header-control-responsive {
        @media(max-width: @screen-md-min) {
          display: none;
        }
      }

      .tag {
        height: 34px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .layout-header-filters {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    margin-top: -14px;
    margin-right: -14px;

    @media (max-width: @grid-float-breakpoint) {
      flex: none;
      max-width: inherit;
      margin-top: 0px;
      margin-bottom: 35px;
    }

    .layout-header-filter {
      flex: 1;
      margin: 14px 14px 0 0;
      min-width: 200px;

      @media (max-width: @grid-float-breakpoint) {
        width: auto;
        flex: 1;
      }

      .date-picker {
        position: relative;

        .cal {
          position: absolute;
          height: 10px;
          top: 50%;
          margin-top: -6px;
          left: 13px;
        }

        .btn-label {
          display: block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-left: 20px;
          padding-right: 20px;
        }

        .caret {
          position: absolute;
          height: 10px;
          top: 50%;
          margin-top: -6px;
          right: 13px;
        }
      }
    }
  }
}

@import "layouts/login";
@import "layouts/shared-landing-page";
@import "layouts/user-profile";
@import "layouts/wizard";
@import "layouts/workflow-builder";
@import "layouts/workflow-list";
@import "layouts/bots";
@import "layouts/analytics";
@import "layouts/interactions";
@import "layouts/broadcasts";
