@hover-transition-props: background-color @base-transition-duration, color @base-transition-duration, opacity @base-transition-duration, border @base-transition-duration;

.hover-transition {
  transition: @hover-transition-props;
}

.sep(@orient, @size, @colour) {
  display: block;
  @{orient}: @size;
  background-color: @colour;
  border-radius: @size/2;
}

.vr(@size: @sep-size; @colour: @gray-lighter; ) {
  .sep(width; @size; @colour);
  height: 100%;
}

.hr(@size: @sep-size; @colour: @gray-lighter) {
  .sep(height; @size; @colour);
  width: 100%;
}

.sep-top(@size: @sep-size; @spacing: 0; @colour: @gray-lighter;) {
  &:before {
    content: '';
    margin-bottom: @spacing;
    .hr(@size; @colour);
  }
}

.sep-bottom(@size: @sep-size; @spacing: 0; @colour: @gray-lighter;) {
  &:after {
    content: '';
    margin-top: @spacing;
    .hr(@size; @colour);
  }
}

.sep-left(@size: @sep-size; @spacing: 0; @colour: @gray-lighter;) {
  padding-left: @spacing;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    .vr(@size; @colour);
  }
}

.sep-right(@size: @sep-size; @spacing: 0; @colour: @gray-lighter;) {
  padding-right: @spacing;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    .vr(@size; @colour);
  }
}

.sep-top-bottom(@size: @sep-size; @spacing: 0; @colour: @gray-lighter;) {
  &:before,
  &:after {
    content: '';
    .hr(@size; @colour);
  }
  &:before { margin-bottom: @spacing; }
  &:after  { margin-top:    @spacing; }
}

.workflow-card-offset(@side; @opposite) {
  @workflow-horizontal-connector-length: 30px;

  // Ensure we show the offset connectors above the break
  &:before,
  &:after {
    @media(min-width: @screen-sm-min) {
      display: block;
    }
  }

  // Position the vertical connector
  &:before {
    @{side}: @workflow-card-width + @workflow-horizontal-connector-length - (@workflow-connector-width / 2);
    @{opposite}: -@workflow-horizontal-connector-length - (@workflow-connector-width / 2);
  }

  // Position the horizontal connector
  &:after {
    @{side}: @workflow-card-width;
    @{opposite}: -@workflow-horizontal-connector-length + (@workflow-connector-width / 2);
  }

  // Shift card at wider viewports
  // Use absolute position to centre and offset
  @media(min-width: @screen-sm-min) {
    top: 0;
    bottom: 0;
    @{opposite}: 50%;
    margin-@{opposite}: @workflow-horizontal-connector-length;
  }
}

.make-radio-or-checkbox(@target; @icon-unchecked; @icon-checked) {
  .@{target}:before {
    content: @icon-unchecked;  // unchecked icon
  }
  .@{target}:hover:before,
  input:checked + .@{target}:before {
    content: @icon-checked;  // checked icon
  }
}

.make-checkbox(@target) {
  .make-radio-or-checkbox(
    @target: @target,
    @icon-unchecked: @icon-var-square,
    @icon-checked: @icon-var-check-square)
}

.make-radio(@target) {
  .make-radio-or-checkbox(
    @target: @target,
    @icon-unchecked: @icon-var-circle-o,
    @icon-checked: @icon-var-dot-circle-o)
}

// Set the colour of the custom checkboxes / radios
.checkbox-radio-colour(@icon; @icon-checked; @label: @text-color; @label-checked: @icon-checked) {
  .control-label {
    color: @label;
    &:before { color: @icon; }
  }

  input:checked + .control-label,
  input:checked + .control-label + .help-block {
    color: @label-checked;
    &:before { color: @icon-checked; }
  }
}

@empty-ruleset: {};

.make-before-icon(@icon; @rules: @empty-ruleset) {
  &:before {
    .f-icon;
    content: '@{icon-var-@{icon}}';
    @rules();
  }
}

.dropdown-shadow {
  box-shadow: 0 6px 12px rgba(0,0,0,.15);
}

.scrollbar(@size; @foreground-color; @background-color) {
  // For Google Chrome
  &::scrollbar {
    width:  @size;
    height: @size;
  }

  &::scrollbar-thumb {
    background: @foreground-color;
  }

  &::scrollbar-track {
    background: @background-color;
  }

  // For Internet Explorer
  scrollbar-face-color: @foreground-color;
  scrollbar-track-color: @background-color;
}

.spinner-icon(@colour: currentColor, @size: 24px) {
  display: inline-block;
  width: @size;
  height: @size;
  box-sizing: border-box;

  border: solid round(@size/10) transparent;
  border-top-color: @colour;
  border-left-color: @colour;
  border-right-color: @colour;
  border-radius: 50%;

  animation: spinner-icon 1000ms linear infinite;
}

@keyframes spinner-icon {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Overrides /bootstrap/less/mixins/buttons.less
.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:focus,
  &.focus {
    color: @color;
    background-color: @background;
        border-color: @border;
  }
  &:hover {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 10%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 10%);

    &:hover,
    &:focus,
    &.focus {
      color: @color;
      background-color: darken(@background, 10%);
          border-color: darken(@border, 10%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: @background;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}