@import "bootstrap/less/variables";

@screen-max-width: 1200px;
@screen-xs-gutter: 20px;
@screen-sm-gutter: 30px;
@screen-md-gutter: 40px;

@font-path: "/fonts";
@image-path: "/images/";

// Primary Colours
@primary-red:       #E6606b;
@primary-orange:    #F37A71;
@primary-green:     #67C18E;
@primary-blue:      #00B2CC;
@primary-purple:    #6F5FE8;

// Secondary Colours
@secondary-red:     #EDACB5;
@secondary-orange:  #FEBFBA;
@secondary-green:   #CDF4D7;
@secondary-blue:    #B6E8FA;
@secondary-purple:  #B6C1FA;
@bootstrap-orange: #FF8800;

// Tints
@tint-light:  rgba(255, 255, 255, 0.10);
@tint-mid:    rgba(255, 255, 255, 0.25);
@tint-heavy:  rgba(255, 255, 255, 0.50);

// Override colour names, as required by bootstrap.
@brand-primary:   @gray-darker;
@brand-info:      @primary-blue;
@brand-warning:   @primary-orange;
@brand-success:   @primary-green;
@brand-danger:    @primary-red;

// Grays as required by bootstrap.
@gray-lightest:	#F8F9F8;
@gray-lighter:  #F1F4F1;
@gray-light:    #DEE3DF;
@gray:          #899795;
@gray-dark:     #5E6D6F;
@gray-darker:   #323A46;

// Scaffolding
@text-color:                @gray-darker;
@input-color:               @gray-dark;
@input-color-placeholder:   @gray-light;
@link-color:                @gray-darker;
@link-hover-color:          @gray-darker;
@headings-line-height:      1.2;
@headings-small-color:      @gray;
@table-border-color:        @gray-light;

// Components
@border-radius-base:  2px;
@border-radius-large: 2px;

@disabled-opacity: 0.5;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    @brand-primary;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @gray-light;

// Form states and alerts
@alert-success-bg:            @primary-green;
@alert-success-text:          white;
@alert-success-border:        @primary-green;

@alert-info-bg:               @primary-blue;
@alert-info-text:             white;
@alert-info-border:           @primary-blue;

@alert-warning-bg:            @primary-orange;
@alert-warning-text:          white;
@alert-warning-border:        @primary-orange;

@alert-danger-bg:             @primary-red;
@alert-danger-text:           white;
@alert-danger-border:         @primary-red;

@progress-bg:                 @gray-lighter;
@progress-bar-danger-bg:      @primary-orange;

@pre-color: @gray-dark;
@pre-bg: @gray-lighter;
@pre-border-color: transparent;

// Horizontal / vertical separator size
@sep-size: 4px;

// Transitions
@base-transition-duration: 0.1s;
@selected-opacity: 1;
@deselected-opacity: 0.5;
