<div class="col-sm-3 directory-menu">
  <ul>
    <li class="title">Featured</li>
    <li><a href="/bots-directory">Bots</a></li>
  </ul>
  <ul>
    <li class="title">Popular Services</li>
    <li><a href="/activecampaign">ActiveCampaign</a></li>
    <li><a href="/clicksend">ClickSend</a></li>
    <li><a href="/freshbooks">FreshBooks</a></li>
    <li><a href="/gmail">Gmail</a></li>
    <li><a href="/google-calendar">Google Calendar</a></li>
    <li><a href="/google-sheets">Google Sheets</a></li>
    <li><a href="/insightly">Insightly</a></li>
    <li><a href="/pipedrive">Pipedrive</a></li>
    <li><a href="/slack">Slack</a></li>
    <li><a href="/trello">Trello</a></li>
    <li><a href="/typeform">Typeform</a></li>
    <li><a href="/wufoo">Wufoo</a></li>
  </ul>
  <ul>
    <li class="title">Community</li>
    <li><a href="https://community.flowxo.com/c/workflows/workflow-collections">Workflow Collections</a></li>
    <li><a href="https://community.flowxo.com/c/workflows/shared-workflows">Shared Workflows</a></li>
  </ul>
</div>