<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 footer-nav">
        <h4>Platform</h4>
        <ul>
          <li><a href="/features">Features</a></li>
          <li><a href="/services">Integrations</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="https://trello.com/b/8qKlTlhE/flow-xo-roadmap">Public Roadmap</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-nav">
        <h4>Support</h4>
        <ul>
          <li><a href="http://support.flowxo.com">Help Center</a></li>
          <li><a href="https://community.flowxo.com">Community</a></li>
          <li><a href="https://medium.com/flowxo">Articles</a> &nbsp;<span class="label label-success">New</span></li>
          <li><a href="https://www.youtube.com/c/flowxo">Videos</a> &nbsp;<span class="label label-success">New</span></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-nav">
        <h4>Company</h4>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="http://support.flowxo.com/article/155-flowbot"><i class="icon-chat"></i> Flowbot</a></li>
          <li><a href="https://twitter.com/flowxo"><i class="icon-twitter"></i> Twitter</a></li>
          <li><a href="https://facebook.com/flowxo"><i class="icon-facebook"></i> Facebook</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-info">
        <p>By using this website you accept our <a href="/cookies">use of cookies</a></p>
        <p>A global business, based in the United Kingdom <img src="/images/uk.svg" width="25" height="14"></p>
        <p>Registered in England &amp; Wales number 09192721</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 footer-links">
        <ul>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/terms">Terms &amp; Conditions</a></li>
          <li><a href="/cookies">Cookies</a></li>
          <li><a href="http://www.flowxostatus.com">Service Status</a></li>
        </ul>
        <p>Flow XO Limited, Ribble Court, 1 Mead Way, Padiham BB12 7NG</p>
      </div>
    </div>
  </div>
</footer>
