<%- include ../tag-manager.html -%>
<nav class="navbar-site navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only" translate>Toggle navigation</span>
        <span class="icon-bar icon-bar-1"></span>
        <span class="icon-bar icon-bar-2"></span>
        <span class="icon-bar icon-bar-3"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img class="navbar-brand-logo navbar-brand-logo-white" src="/images/logo-white.svg" alt="Flow XO">
        <img class="navbar-brand-logo navbar-brand-logo-colour" src="/images/logo.svg" alt="Flow XO">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="navbar-item-features">
          <a href="/features">Features</a>
        </li>
        <li class="navbar-item-services">
          <a href="/services">Integrations</a>
        </li>
        <li class="navbar-item-pricing">
          <a href="/pricing">Pricing</a>
        </li>
        <li class="navbar-item-signup">
          <a href="/app/signup">Get Started</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <span>
            <a href="/app" class="btn btn-default btn-split navbar-btn navbar-btn-open-editor">
              <i class="icon-power-off btn-icon"></i><span class="btn-label" translate>Open Editor</span>
            </a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
