<div class="inner container-fluid">
  <h1>Notes:</h1>

  <table class="notetable">
    <thead>    
        <th>Date modified</th>
        <th>Date created</th>
        <th>Summary
          <div class="right">
            <a uib-tooltip="Add new note" href="/app/note"><button class="icon-plus" ></button></a>
            <button class="icon-list" uib-tooltip="Refresh" href="/app/note" ng-click="getNotes()"></button>
          </div>
        </th>
    </thead>
    <tbody>
      <tr uib-tooltip="click to edit" ng-repeat="note in notes" ng-click="showNote(note._id)">
        <td>{{formatDate(note.updatedAt)}}</td>
        <td>{{formatDate(note.createdAt)}}</td>
        <td>{{makeSummary(note.text)}}</td>
      </tr>
    </tbody>
  </table>
  
</div>
