<div class="inner container-fluid">
  <h2>Edit Note</h2>
  <div class="notedetails">
    <span>Created:</span>
    <span>{{formatDate(note.createdAt)}}</span>
    <span>Updated:</span>
    <span>{{formatDate(note.updatedAt)}}</span>
    <button ng-disabled="!id" class="right" ng-click="deleteNote()">Delete</button>
  </div>

  <textarea class="notetext" ng-model="note.text"></textarea>
  <button ng-disabled="!note.text" class="right" ng-click="saveNote()">Save</button>
  <button class="left" ng-click="cancel()">Cancel</button>
</div>