.analytics-layout {

  .card-list {
    .card-list-item {

      .analytics-panel {
        min-height: 310px;
        border-radius: @border-radius-base;
        border: 2px solid @gray-lighter;

        .analytics-panel-header {
          height: 50px;

          h4 {
            float: left;
            padding: 3px 18px 0 18px;
          }

          .analytics-panel-legends {
            float: right;
            .analytics-panel-legend {
              display: inline-block;
              padding: 14px 3px 3px 3px;
              color: @gray;
              .analytics-panel-legend-square {
                vertical-align: middle;
                font-size: 12px;
                margin-right: 3px;
                position: relative;
                top: -1px;
                &.analytics-panel-legend-square-green {
                  color: @primary-green;
                }
                &.analytics-panel-legend-square-blue {
                  color: @primary-blue;
                }
              }
            }
          }

          .analytics-panel-info {
            float: right;
            padding: 12px 16px 5px 8px;
            font-size: 20px;
            color: @gray-dark;
          }
        }

        .analytics-panel-container {
          height: 250px;
          padding: 15px;
        }

        .analytics-panel-table-container {
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          width: 100%;
          min-height: 297px;

          .no-data {
            text-align: center;
            padding: 70px;
            height: 200px;
            color: @gray;
            i {
              font-size: 72px;
              display: block;
              color: @gray-light;
            }
          }

          table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
          }
          table td,
          table th {
            text-align: left;
            padding: 10px 18px;
          }
          table th:first-child,
          table td:first-child {
            overflow-x: hidden;
            width: 75%;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          table td:last-child,
          table th:last-child {
            text-align: right;
          }
          table th {
            background-color: @gray-lighter;
            font-size: 16px;
            font-weight: 600;
          }
          table tr:nth-child(2n) td {
            background-color: @gray-lightest;
          }
        }

      }

    }
  }

  .summary {
    display: flex;
    margin-bottom: 30px;
    margin-right: -10px;
    flex-wrap: wrap;

    .summary-item {
      flex-direction: row;
      min-width: 125px;
      flex: 1;
      background-color: @primary-green;
      color: #FFF;
      margin: 10px 10px 0 0;
      padding: 10px 14px;
      border-radius: @border-radius-base;
      &.summary-item-color-1 {
        background-color: @primary-blue;
      }
      &.summary-item-color-2 {
        background-color: @primary-purple;
      }

      @media (max-width: @grid-float-breakpoint) {
        min-width: 200px;
      }

      .summary-item-info {
        float: right;
        padding-top: 3px;
        color: @tint-heavy;
      }

      .summary-item-name {
        font-weight: 600;
        color: white;
        .sep-bottom(@spacing: 8px, @colour: @tint-light, @size: 2px);
      }

      .summary-item-value {
        margin-top: 20px;
        font-size: 2em;
        .spinner {
          color: @tint-heavy;
        }
      }
    }
  }

}
