.bots-layout, .workflow-builder-layout {
  bot-widget-tester {
    position: fixed;
    bottom: 30px;
    right: 80px;
    z-index: 2000;  // Higher than modal
    img {
      width: 70px;
      height: 60px;
    }

    @media (min-width: 769px) {
      right: 90px;
    }
    @media (min-width: 1025px) {
      bottom: 40px;
      right: 100px;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .btn-widget .btn-label {
    display: none;
  }
  .btn-widget:after {
    content: "Widget";
  }
}
