.broadcasts-layout {

  // Interactions List
  .broadcasts-list {
    thead, tbody {
      td, th {
        @media (max-width: @screen-xs-max) {
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            width: 0px;
          }
          &:nth-child(1) {
            width: 90%
          }
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            width: 0px;
          }
        }
      }
    }
  }
}