.interactions-layout {

  // Interactions List
  .interactions-list {
    thead, tbody {
      td, th {
        &:last-child {
          width: 160px;
          .btn:nth-child(2) {
            margin-left: 10px;
          }
        }
        @media (max-width: @screen-xs-max) {
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            width: 0px;
          }
          &:nth-child(1) {
            width: 90%
          }
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
          &:nth-child(3),
          &:nth-child(4) {
            width: 0px;
          }
        }
      }
    }
  }

  // Inteaction Details / Task View
  .interactions-detail {

    & > .header {
      font-size: 16px;
      display: flex;
      margin-top: -10px;
      margin-right: -10px;
      flex-wrap: wrap;

      & > .header-item {
        flex-direction: row;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 125px;
        background-color: @gray-lighter;
        margin: 10px 10px 0 0;
        padding: 10px 14px;
        border-radius: @border-radius-base;

        @media (max-width: @grid-float-breakpoint) {
          min-width: 200px;
        }

        & > .header-item-name {
          font-weight: 600;
        }

        & > .header-item-value {
          text-align: right;
        }
      }
    }

    & > .task-list {
      margin: 10px 0;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 20px;
        bottom: 0;
        left: 40px;
        width: 4px;
        background: @gray-lightest;
      }

      & > .task {
        margin: 20px 0 0 0;
        position: relative;

        & > .status {
          position: absolute;
          top: 5px;
          left: 3px;
          border: 3px solid white;
          border-radius: @border-radius-base;
          & > .tag {
            background-color: white;
            width: 24px;
            height: 22px;
            justify-content: center;
            & > .tag-text {
              display: none;
            }
          }
        }

        & > .summary {
          padding: 16px 0 16px 16px;
          position: relative;

          .name {
            font-size: 18px;
            font-weight: 600;
          }

          .row-two {
            display: flex;
            border-top: 6px solid white;
            border-bottom: 6px solid white;

            .icon {
              flex: 0 0 50px;
              margin-right: 16px;
              background-color: white;
              .png {
                border: 3px solid @gray-lighter;
                padding-bottom: 44px;
              }
            }

            .stuff {
              flex: 1;
              .date {
                color: @gray;
              }
            }
          }
        }

        & > .detail {
          border: 3px solid @gray-lighter;
          border-radius: @border-radius-base;
          margin-left: 75px;

          .tabs {
            color: inherit;
            border-bottom: 3px solid @gray-lighter;
            .tab {
              display: inline-block;
              margin: 5px;
              padding: 5px 8px;
              border-radius: @border-radius-base;
              border: 2px solid transparent;
              font-weight: 600;

              i {
                margin-right: 5px;
                position: relative;
                top: 2px;
              }
              &.selected {
                background-color: @gray-lighter;
              }
              &:hover {
                cursor: pointer;
                border: 2px solid @gray-lighter;
              }
            }
          }

          .detail {
            padding: 10px;
            margin: 0;
            overflow-y: auto;
            height: 200px;
            background-color: transparent;

            .i-row {
              margin-bottom: 10px;

              .i-label {
                font-weight: bold;
              }
              .i-value {
                white-space: pre-wrap;
                .tag {
                  margin-top: 6px;
                }
              }

              &:last-child {
                margin-bottom: 0;
              }
            }

            .or {
              background-color: @gray-lighter;
              padding: 10px;
              border-radius: @border-radius-base;
            }

            .and {
              background-color: @gray-lighter;
              border-radius: @border-radius-base;
            }

            .title-or, .title-and {
              width: 100%;
              text-align: center;
              border-bottom: 1px solid @gray-light;
              line-height: 0.1em;
              margin: 20px 0;
              span {
                padding: 0 10px;
              }
            }
            .title-or {
              border-bottom: 1px solid @gray-lighter;
              span {
                background: white;
              }
            }
            .title-and > span {
              background: @gray-lighter;
            }
          }
        }
      }
    }

    & > .message-list-container {
      margin-top : 20px;
      width: 100%;
      background-color: @gray-lightest;
      border-radius: @border-radius-base;
      padding: 10px 10px 20px 10px;

      display: flex;
      flex-direction: column;
    }

    .no-data {
      margin-top: 20px;
      border-radius: @border-radius-base;
      background-color: @gray-lightest;
      text-align: center;
      padding: 100px;
      height: 300px;
      color: @gray;
      i {
        font-size: 50px;
        display: block;
        color: @gray-light;
        margin-bottom: 10px;
      }
    }

  }
}
