.login-layout {
  &:extend(.container-fluid);
  max-width: 880px;
  padding-top: 75px;
  @media (max-width: @grid-float-breakpoint) {
    padding-top: 20px;
  }
  &.login-layout-single {
    max-width: 480px;
    .login-container {
      .make-sm-column(12);
    }
  }
}

.login-layout-progress {
  position: relative;
  height: 40px;
}

.login-container {
  .make-sm-column(6);
}

.login-promo {
  img {
    height: 358px;
    width: auto;
  }
  @media (max-width: @grid-float-breakpoint) {
    display: none;
  }
}

.login-box {
  .make-row();
  background-color: white;
  border-radius: @border-radius-large;
}

.login-header {
  .make-xs-column(12);
  border-top-left-radius: @border-radius-large;
  border-top-right-radius: @border-radius-large;
  background-color: @gray-light;
}

.login-header-logo {
  display: block;
  width: 125px;
  margin: 18px auto;
}

.login-controls {
  padding: 18px 0 6px 0;
  .make-xs-column(12);
  .alert {
    margin-bottom: 10px;
  }
}

.login-switch-link {
  text-align: center;
  padding-top: 14px;
  color: @gray;
}

.login-disclaimer {
  padding-bottom: 14px;
  color: @gray;
}

.login-forgot-password-link {
  float: right;
  padding-top: 6px;
}

.login-button {
  text-align: left;
  &.login-button-google {
    .button-variant(white, #dd4b39, @btn-default-border);
  }
  &.login-button-facebook {
    .button-variant(white, #3b5998, @btn-default-border);
  }
  &.login-button-linkedin {
    .button-variant(white, #007bb6, @btn-default-border);
  }
}

.login-providers {
  .make-xs-column(12);
  .sep-top(@spacing: 18px);
  padding-bottom: 18px;
  @media (max-width: @grid-float-breakpoint) {
    .login-button {
      padding: 0;
      margin-bottom: 4px;
    }
  }
  @media (min-width: @grid-float-breakpoint) {
    :first-child { 
      padding-left: 0;
    }
    :last-child {
      padding-right: 0;
    }
  }
}

.login-provider {
  .make-sm-column(4, 4px);
  .btn-label {
    padding: 7px 9px !important;
  }
}
