.shared-landing-page-layout {
  &:extend(.container-fluid);
  background-color: @gray-light;
  max-width: 600px;
  padding-top: 75px;
  @media (max-width: @grid-float-breakpoint) {
    padding-top: 20px;
  }
}

.shared-landing-page-container {
  .make-sm-column(12);
}

.shared-landing-page-box {
  .make-row();
  background-color: white;
  border-radius: @border-radius-large;
}

.shared-landing-page-header {
  .make-xs-column(12);
  border-top-left-radius: @border-radius-large;
  border-top-right-radius: @border-radius-large;
  background-color: @gray-lighter;
}

.shared-landing-page-header-logo {
  display: block;
  width: 125px;
  margin: 18px auto;
}

.shared-landing-page-content {
  padding: 18px 0 6px 0;
  .make-xs-column(12);
  text-align: center;
  h1 {
    font-size: @font-size-h3;
  }
}

.shared-landing-page-text {
  font-size: @font-size-h4;
  color: @gray;
}

.shared-landing-page-button {
  padding: 20px;
}

.shared-landing-page-metadata {
  font-size: 16px;
  color: @gray;
  padding-bottom: 16px;
}

.shared-landing-page-about {
  text-align: center;
  padding-top: 14px;
  color: @gray;
}

.shared-landing-page-icons {
  padding-bottom: 20px;
}

.shared-landing-page-icon-container {
  background: #fff;
  border-radius: 3px;
  border: 4px solid @gray-lighter;
  display: inline-block;
  height: 130px;
  width: 130px;
  position: relative;
  vertical-align: top;
  margin: 12px 12px 0 0;
  &:last-child {
    margin: 12px 0 0 0;
  }
  @media (max-width: @grid-float-breakpoint) {
    border-width: 3px;
    height: 80px;
    width: 80px;
  }
}

.shared-landing-page-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50%;
  left: 25%;
  margin: auto;
  position: absolute;
  top: 25%;
  width: 50%;
}

.shared-landing-page-icon-name {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  margin: 8px 12px 0 0;
  color: @gray;
  &:last-child {
    margin: 8px 0 0 0;
  }
  @media (max-width: @grid-float-breakpoint) {
    display: none;
    visibility: hidden;
  }
}
