.user-profile-layout .progress-mask-icon {
  top: 50px;
  @media(min-width: @screen-sm-min) {
    left: 30%;
  }
}

.user-profile-row {
  .make-row();
  padding: 35px 0;
}

.user-profile-row + .user-profile-row {
  padding-top: 0;
  .sep-top(@spacing: 40px);
}

.user-profile-aside {
  .make-sm-column(6);
}

.user-profile-main {
  .make-sm-column(6);
}

.user-profile-aside-title {
  margin-top: 0;
}

.user-profile-avatar {
  float: right;
  width: 60px;
  margin-bottom: 10px;

  img {
    border-radius: @border-radius-large;
  }

  @media(max-width: @screen-xs-max) {
    margin-top: 20px;
  }
}

.user-profile-usage + .user-profile-usage {
  margin-top: 40px;
}

.user-profile-usage-title {
  margin-top: 0;
}

.user-profile-usage-bar {
  min-width: 3em;
}

.user-plan-update-billing {
  margin-bottom: 24px;
}

.user-profile-plan-disabled-alert {
  margin: 20px 0;
}

.user-profile-plan-options {
  .list-unstyled;
}

.user-profile-plan {
  position: relative;
}

@media(min-width: @screen-sm-min) {
  .user-profile-plan {
    display: inline-block;
  }

  .user-profile-plan-adjacent {
    margin-left: 15px;
  }
}

.user-profile-plan-card {
  cursor: pointer;
}

.user-profile-plan-radio {
  .checkbox-radio-colour(@gray-dark, @brand-info);
  margin: 0;
  padding: 10px 0;
  small {
    font-size: 75%;
    display: block;
    margin-left: 5px;
  }
}

.user-profile-plan-addons {
  .list-unstyled;
  .user-profile-plan-addon {
    margin-bottom: 16px;
  }
}

.user-profile-plan-addon-labels {
  .make-row();
  margin-bottom: 8px;
}

.user-profile-plan-addon-title {
  .make-xs-column(8);
}

.user-profile-plan-addon-total {
  .make-xs-column(4);
  text-align: right;
}
