@wizard-card-break-one: 350px;
@wizard-card-break-two: 550px;
@wizard-card-break-three: 700px;

.modal-wizard-body {
  min-height: 175px;
}

.modal-subtitle {
  font-size: 75%;
}

.modal-title > .modal-subtitle {
  margin-left: 8px;
}

@modal-wizard-grid-gutter: 20px;

.modal-wizard-step {
  padding: 0 12px;
}

.modal-wizard-step-no-footer {
  padding: 0 12px 15px 12px;
}

.modal-wizard-row {
  .make-row(@modal-wizard-grid-gutter);
  .list-unstyled;
}

.modal-wizard-col-half {
  .make-sm-column(6, @modal-wizard-grid-gutter);
}

.modal-wizard-col-third {
  .make-sm-column(4, @modal-wizard-grid-gutter);
}

.modal-wizard-col-quarter {
  .make-sm-column(3, @modal-wizard-grid-gutter);
}

.modal-wizard-col-three-quarter {
  .make-sm-column(9, @modal-wizard-grid-gutter);
}

.modal-wizard-grid-col {
  margin: 10px 0;
}

.modal-wizard-grid-2up-cf {
  .clearfix;
  .visible-sm-block;
}

.modal-wizard-grid-3up-cf {
  .clearfix;
  .hidden-sm;
}

.modal-wizard-col-heading {
  margin: 0 0 20px;
  .heading-info;
}

.modal-wizard-item-action-icon {
  .make-xs-column(12);
  width: 150px;
  margin-bottom: 20px;
  @media(max-width: 520px) {
    width: 220px;
  }
  @media(min-width: 520px) {
    margin-bottom: 0;
  }
  @media(min-width: 600px) {
    width: 200px;
  }
}

.modal-wizard-item-action-control {
  .make-xs-column(12);
  @media(min-width: 520px) {
    float: none;
    padding-left: 160px;
  }
  @media(min-width: 600px) {
    padding-left: 210px;
  }
}

.wizard-authorise-service {
  .radio-choice-masker {
    margin-bottom: 30px;
  }
  .radio-choice-masker-control {
    margin-bottom: 10px;
  }
}

.wizard-well-success {
  .alert;
  .alert-success;
}

.wizard-card-list {
  .list-unstyled;
  .make-row();
  margin-bottom: 0;
  padding-left: (@grid-gutter-width / 2);
}

.wizard-card-list-item {
  position: relative;
  float: left;
  min-height: 1px;
  padding-bottom: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
  width: 100%;
  @media(min-width: @wizard-card-break-one) {
    width: 100%;
  }
  @media(min-width: @wizard-card-break-two) {
    width: 50%;
  }
  @media(min-width: @wizard-card-break-three) {
    width: 33.333333333333%;
  }
}

.wizard-card-list-cf {
  .clearfix;
  display: none;
}

.wizard-card-list-cf-2up {
  @media(min-width: @wizard-card-break-one) and (max-width: (@wizard-card-break-two - 1)) {
    display: block;
  }
}

.wizard-card-list-cf-3up {
  @media(min-width: @wizard-card-break-two) and (max-width: (@wizard-card-break-three - 1)) {
    display: block;
  }
}

.wizard-card-list-cf-4up {
  @media(min-width: @wizard-card-break-three){
    display: block;
  }
}

.wizard-icon-card {
  padding: 8px;
  color: @text-color;
  background-color: @gray-lighter;
  border: 2px solid @gray-lighter;
  border-radius: @border-radius-base;
  z-index: 1;
  text-align: center;
}

.wizard-icon-card-radio {
  cursor: pointer;
  .hover-transition;
  &:hover {
    background-color: darken(@gray-lighter, 5%);
    border-color: darken(@gray-lighter, 5%);
  }

  display: flex;

  r-task-icon {
    flex: 1;
  }

  .service-icon-card {
    flex: 1;
    padding-bottom: 30%;
  }

  .wizard-icon-card-control-label {
    flex: 2;
    margin: 0 0 0 14px;
    text-align: left;
    white-space: normal;
  }
}

.wizard-icon-card-radio-selected {
  &,
  &:hover {
    border-color: @primary-blue;
  }
}

.wizard-icon-card-control-label,
.wizard-icon-card-control-extra {
  cursor: inherit;
}

.wizard-icon-card-control-label {
  margin: 10px 0 0 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wizard-icon-card-control-extra {
  font-weight: normal;
}

.webhook-url-wrapper {
  margin: 25px 0 10px 0;
}

.webhook-url-box[readonly] {
  background-color: transparent;
  cursor: pointer;
}

.webhook-alert-container {
  margin-top: 15px;
  display: inline-block;
}

.webhook-waiting-btn {
  margin-left: 15px;
}

@wait-task-duration-field-group-gutter: 6px;

.wait-task-duration-field-group {
  .make-row(@wait-task-duration-field-group-gutter);
}

.wait-task-duration-field {
  .make-xs-column(4; @gutter: @wait-task-duration-field-group-gutter);
  // .make-sm-column(4; @gutter: @wait-task-duration-field-group-gutter);
}

.wait-task-duration-label {
  border: 0;
}

// Format for a small screen
@media(max-width: @screen-xs-min) {
  .wait-task-duration-field {
    float: none;
    width: 100%;
  }
  .wait-task-duration-field + .wait-task-duration-field {
    margin-top: 8px;
  }
  .wait-task-duration-form-group {
    display: block;
    width: 150px;
  }
  .input-group .wait-task-duration-label {
    width: 60px
  }
}

.configure-filter-group-list {
  .list-unstyled;
  margin: 0;
}

.wizard-configure-filter-group {
  width: 100%;
  padding: 15px;
  background-color: @gray-lighter;
  border-radius: @border-radius-base;
}

.configure-filter-group-list-item {
  margin-bottom: 18px;
}

.configure-filter-group {
  .list-unstyled;
}

.configure-filter-main-controls {
  margin-bottom: 15px;
}

.configure-filter-first-item {
  margin-right: 55px;
}

.configure-filter-remove-item {
  float: right;
  margin-top: 25px;
}

.configure-filter-condition-label {
  margin-bottom: 15px;
  font-weight: 600;
  color: @gray;
}

.configure-filter-condition-label-or {
  margin-left: 15px;
}

.filter-stop-flow {
  margin-top: 30px;
}

.test-email-trigger-parse-results--updated {
  animation: flash 0.2s linear 2;
}

.test-email-trigger-parse-results-received-at {
  color: @gray-dark;
  font-style: italic;
}

@wizard-share-button-break-one: 350px;
@wizard-share-button-break-two: 550px;

.wizard-sharing-options {
  .icon-private,
  .icon-shared {
    margin-left: 3px;
  }
}

.wizard-share-buttons {
  .make-row();
  padding-left: (@grid-gutter-width / 2);
  padding-top: (@grid-gutter-width / 2);
}

.wizard-share-buttons-item {
  float: left;
  min-height: 1px;
  padding: 0 (@grid-gutter-width / 2) (@grid-gutter-width / 2) 0;
  width: 100%;
  .wizard-share-button-twitter {
    .button-variant(white, #55acee, @btn-default-border);
  }
  .wizard-share-button-facebook {
    .button-variant(white, #3b5998, @btn-default-border);
  }

  @media(min-width: @wizard-share-button-break-one) {
    width: 50%;
  }
  @media(min-width: @wizard-share-button-break-two) {
    width: 25%;
  }
}

.wizard-share-buttons-item-three {
  @media(min-width: @wizard-share-button-break-two) {
    width: 33.3333%;
  }
}

.sharing-options-embed {
  box-sizing: border-box;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.15s linear;

  &.open {
    height: auto;
    opacity: 1;
    overflow: visible; // This is only for the iframe box-shadow to be visible
  }
}

.sharing-options-embed-iframe {
  border: none;
  display: block;
  margin: 25px 0;
}

.wizard-bot-auth-slack-button {
  img {
    width: auto;
  }
}

.configure-template-group-list {
  .list-unstyled;
}

.wizard-configure-template-group {
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: @gray-lighter;
  border-radius: @border-radius-base;
}

.configure-template-group-list-item {
  margin-bottom: 30px;
}

.wizard-configure-template-group-trash-icon {
  float: right;
  margin-top: 25px;
}

.wizard-configure-template-group-first-field {
  margin-right: 60px;
}

.configure-bot-send-message-group-list {
  .list-unstyled;
}

.configure-bot-send-message-group {
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: @gray-lighter;
  border-radius: @border-radius-base;
}

.configure-bot-send-message-group-list-item {
  margin-top: 30px;
  margin-bottom: 30px;
}

.configure-bot-send-message-group-trash-icon {
  float: right;
  margin-top: 25px;
}

.configure-bot-send-message-group-first-field {
  margin-right: 60px;
}

.modal-wizard-select-service {
  h4 {
    margin-bottom: 20px;
    color: @gray-dark;
  }
}

.modal-wizard-select-popular {
  .wizard-service {
    h4 {
      margin: 5px 0 20px 0;
      color: @gray-dark;
    }
  }

  .footer {
    margin: 15px 0;

    .more {
      margin-right: 10px;
    }

    .more-text {
      color: @gray;

      @media(max-width: 768px) {
        margin-top: 15px;
        display: block;
      }
    }
  }
}
