
// Special layout when test-console is open
body.fxo-messenger-open {

  .modal-dialog {
    margin: 30px calc(~"(100% - 400px) / 2 - 400px");
    width: 800px;
  }

  .app-page-content {
    position: relative;

    .workflow-builder-layout {
      position: fixed;
      height: 100%;
      width: auto;
      top: 0;
      left: 60px;
      right: 400px;
      overflow: auto;

      .tasks {
        @media (max-width: 1392px) {
          .task-view {
            flex: 0 0 100% !important;
            .top .controls {
              margin-right: 0 !important;
            }
            .bottom {
              padding-right: 0 !important;
            }
          }
          .message-view {
            display: none !important;
            visibility: hidden;
          }
        }
      }
    }
  }
}


.workflow-builder-layout {

  .tasks {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 23px;
      width: 4px;
      background: @gray-lightest;
    }

    @media (max-width: @screen-md-min) {
      .task-view {
        flex: 0 0 100% !important;
        .top .controls {
          margin-right: 0 !important;
        }
        .bottom {
          padding-right: 0 !important;
        }
      }
      .message-view {
        display: none !important;
        visibility: hidden;
      }
    }

    .no-trigger {
      display: flex;
      align-items: baseline;
      position: relative;
      margin-bottom: 25px;

      &:hover {
        .btn-add-task {
          transform: scale(1.1);
          &:before {
            color: @primary-blue;
          }
        }
      }

      .plus {
        flex: 0 0 50px;
        text-align: center;
      }

      .text {
        flex: 1;
        margin-left: 5px;
        font-weight: 500;
        font-size: 14px;
        color: @primary-blue;
        border-top: 1px solid @gray-lighter;
        border-bottom: 1px solid @gray-lighter;
        padding: 8px 8px 8px 0;
        cursor: pointer;
      }
    }

    .input-mask {
      background: rgba(255, 255, 255, 0.70);
    }

    .task {
      position: relative;
      display: flex;

      &.first {
        .message-view {
          margin-top: 6px;
          border-top-left-radius: @border-radius-large;
          border-top-right-radius: @border-radius-large;

          .inner {
            border: none !important;
          }
        }
      }

      &.last {
        margin-bottom: 50px;

        .message-view {
          border-bottom-left-radius: @border-radius-large;
          border-bottom-right-radius: @border-radius-large;
        }

        .bottom {
          height: auto !important;
        }
      }

      .task-view {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;

        // Prevent drag on trigger
        .trigger {
          .icon, .icon img {
            cursor: default !important;
          }
          .icon:hover::before {
            display: none !important;
          }
        }

        // Narrower margin for sm
        @media (max-width: @screen-md-min) {
          .icon:hover::before {
            left: -22px !important;
          }
        }

        // Hide hover icon altogether for xs
        @media (max-width: @screen-sm-min) {
          .icon:hover::before {
            display: none !important;
          }
        }

        .top {
          flex-grow: 1;
          display: flex;

          .task-line {
            flex: 0 0 50px;

            .icon {
              background-color: white;
              border-top: 6px solid white;
              border-bottom: 6px solid white;
              cursor: move; /* fallback if grab cursor is unsupported */
              cursor: grab;

              &:hover {
                &::before {
                  .f-icon;
                  content: '\e912';
                  position: absolute;
                  top: 17px;
                  bottom: 0;
                  left: -26px;
                  font-size: 26px;
                  color: @gray-light;
                }
              }

              .png {
                border: 3px solid @gray-lighter;
                padding-bottom: 44px;
              }
            }
          }

          .controls {
            flex: 1;
            display: flex;
            margin: 6px 16px;
            padding: 8px 0;
            border-top: 1px solid @gray-lighter;

            .details {
              flex-grow: 1;
              padding-right: 8px;

              .description {
                cursor: pointer;
                margin: 5px 0 3px 0;
                .edit-icon {
                  position: relative;
                  top: -1px;
                  font-size: 12px;
                  margin-left: 3px;
                  color: @gray;
                  display: none;
                  visibility: hidden;
                }
                &:hover {
                  .edit-icon {
                    display: inline;
                    visibility: visible;
                  }
                }
              }

              .service-method {
                color: @gray;
                font-size: 14px;
                i {
                  position: relative;
                  top: -1px;
                  font-size: 8px;
                  margin: 0 2px;
                }
              }

              .tags {
                font-size: 12px;

                .tag {
                  float: left;
                  margin-right: 8px;
                }

                .filter-indicator {
                  cursor: pointer;
                }
              }

              .test-now {
                float: right;
              }
            }

            .menu {
              flex: 0 0 auto;
              padding-top: 8px;
            }
          }
        }

        .bottom {
          flex: 0 0 auto;
          display: flex;
          align-items: baseline;
          height: 60px;
          padding-right: 16px;

          &:hover,
          &.drag-over {
            .btn-add-task {
              transform: scale(1.1);
              &:before {
                color: @primary-blue;
              }
            }
            .text {
              opacity: 1;
            }
          }

          &.drag-over {
            .text span {
              display: none;
            }
            .text:after {
              content: 'Drop here to move the action';
            }
          }

          .plus {
            flex: 0 0 50px;
            text-align: center;
          }

          .text {
            // Helper, for displaying "Add action" if no actions are added
            &.force-connector-text-display{
              opacity: 1 !important;
            }
            flex: 1;
            margin-left: 5px;
            font-weight: 500;
            font-size: 14px;
            color: @primary-blue;
            border-top: 1px solid @gray-lighter;
            border-bottom: 1px solid @gray-lighter;
            padding: 8px 8px 8px 0;
            opacity: 0;
            transition: @hover-transition-props, transform @base-transition-duration;
            cursor: pointer;
          }
        }

      }

      .message-view {
        flex: 0 0 50%;
        background-color: @gray-lightest;
        display: flex;
        border-top-left-radius: @border-radius-large;
        border-top-right-radius: @border-radius-large;

        .inner {
          flex: 1;
          margin: 6px 16px;
          padding: 10px 0;
          border-top: 1px dotted @gray-light;

          .message-wrapper {
            max-width: 393px;

            &.right {
              margin-left: auto;
              margin-right: 0px;
            }
          }
        }
      }
    }
  }

  .btn-add-task {
    display: inline-block;
    width: 40px;
    color: @gray-light;
    background: white;
    padding: 6px 0;
    transition: @hover-transition-props, transform @base-transition-duration;

    &:before {
      .f-icon;
      font-size: 35px;
      vertical-align: middle;
      content: @icon-var-connector-add;
    }
    &[disabled] {
      opacity: 1;
    }
  }

  .workflow-trigger-status {
    position: relative;
    margin-bottom: 25px;
    border-bottom: 6px solid white;

    .inner {
      display: flex;
      align-items: baseline;
      background-color: @gray-lighter;
      border-radius: @border-radius-base;
      padding: 10px 14px;
      color: @gray;
      box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.05);

      i {
        flex: 0 0 auto;
        position: relative;
        top: 1px;

        &:before {
          margin: 0 8px 0 3px;
        }
      }

      span {
        flex-grow: 1;
      }
    }
  }
}
