.workflow-list-landing-header {
  padding-bottom: 15px;
}

.workflow-list-landing-main {
  .make-row();
}

.workflow-list-landing-actions {
  .make-sm-column(8);
}

.workflow-list-landing-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.workflow-list-card {
  padding: 0 10px;
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  @media(min-width: @wizard-card-break-two) {
    width: 50%;
  }
  .workflow-list-card-inner {
    background: @gray-lighter;
    border-radius: @border-radius-base;
    .workflow-list-card-image {
      margin: 10px;
      border-radius: @border-radius-base;
      &.workflow-list-card-image-one .service-icon-card {
        background-color: @primary-green;
      }
      &.workflow-list-card-image-two .service-icon-card {
        background-color: @primary-blue;
      }
    }
    .workflow-list-card-text {
      margin: 15px;
      p {
        color: @gray-dark;
      }
    }
  }
}

.workflow-list-landing-further-info {
  .make-sm-column(4);
  margin-bottom: 30px;
  p {
    margin-bottom: 15px;
    color: @gray-dark;
  }
  h4 {
    .sep-top-bottom(@colour: @text-color; @size: 2px; @spacing: 14px);
    margin-top: 25px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.referral-promo {
  color: @gray;
  border: 2px dotted @gray-lighter;
  border-radius: @border-radius-large;
  padding: 10px 12px;
  margin: 25px 0;
  display: none;
  visibility: hidden;
  &.referral-promo-normal {
    @media(min-width: @screen-md-min) {
      display: block;
      visibility: visible;
    }
  }
  &.referral-promo-responsive {
    @media(max-width: @screen-sm-max) {
      display: block;
      visibility: visible;
    }
  }
}
